<div class="profile_body">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="profile_pic_wrapper">
          <%= image_tag @user.profile_pic.url, size:"150x150", class:"chat_image" %>
        </div>
      </div>
    </div>
  </div>
  <div class="hoote_info text-center">
    <div class="container hoote_wrapper">
      <div class="row profile_name">
        <%= @user.first_name %>
      </div>
      <div class="row owner_solver_wrapper">
        <div class="col-xs-6 text-center owner_wrapper">
          <h5>As an Owner</h5>
          <div class="rating_wrapper">
            <% if @user.rating_owner != 0 %>
              <%= @user.rating_owner %>
              <% @user.rating_owner_stars.to_i.times do  %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
              <% @user.blank_stars_owner.to_i.times do  %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            <% else %>
              No ratings yet.
            <% end %>
            <div class="separator_profile"></div>
          </div>

          <div class="job_stats_owner">
            <div class="job_stats_owner_sub">
              Posted <strong><%= @lesson_completed_owner.count %></strong> jobs
            </div>
            <div class="job_stats_owner_sub">
              <% @lesson_completed_owner.first(4).each do |lesson| %>
                <%= truncate(lesson.title, length: 25) %><br>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-6 text-center solver_wrapper">
          <h5>As a Solver</h5>
          <div class="rating_wrapper">
            <% if @user.rating_solver != 0 %>
              <%= @user.rating_solver %>
              <% @user.rating_solver_stars.to_i.times do  %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
              <% @user.blank_stars_solver.to_i.times do  %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            <% else %>
              No ratings yet.
            <% end %>
            <div class="separator_profile"></div>
          </div>
          <div class="job_stats_solver">
            <div class="job_stats_solver_sub">
              Completed <strong><%= @lesson_completed_solver.count %></strong> jobs
            </div>
            <div class="job_stats_solver_sub">
              <% @lesson_completed_solver.first(4).each do |lesson| %>
                <%= truncate(lesson.title, length: 25) %><br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row owner_solver_review">
        <h5>Reviews</h5>
        <div class="col-xs-6">
          <%= button_tag "Owner", type:"button", class:"btn-owner", id:"btn-owner" %>(<%= @review_owner.count %>)
        </div>
        <div class="col-xs-6">
          <%= button_tag "Solver", type:"button", class:"btn-solver", id:"btn-solver" %>(<%= @review_solver.count %>)
        </div>
        <div class="review_owner_wrapper">
          <% if @review_owner.present? %>
            <% @review_owner.first(8).each do |review| %>
          <div class="col-xs-12 review text-center">
            <div class="col-xs-3 revew_image_name">
              <%= image_tag User.find(Rsvp.find(Lesson.find(review.lesson_id).awardee_id).attendee_id).profile_pic.url, size:"50x50", class:"review_image" %>
              <%= User.find(Rsvp.find(Lesson.find(review.lesson_id).awardee_id).attendee_id).first_name %>
            </div>
            <div class="col-xs-9 review_body">
              <%= review.body %>
            </div>
          </div>
            <% end %>
          <% else %>
            <div class="col-xs-12 text-center">
              No reviews as an owner yet.
            </div>
          <% end %>
        </div>
        <div class="review_solver_wrapper">
          <% if @review_solver.present? %>
            <% @review_solver.first(8).each do |review| %>
          <div class="col-xs-12 review text-center">
            <div class="col-xs-3 revew_image_name">
              <%= image_tag User.find(Lesson.find(review.lesson_id).organizer_id).profile_pic.url, size:"50x50", class:"review_image" %>
              <%= User.find(Lesson.find(review.lesson_id).organizer_id).first_name %>
            </div>
            <div class="col-xs-9 review_body">
              <%= review.body %>
            </div>
          </div>
            <% end %>
          <% else %>
            <div class="col-xs-12 text-center">
              No reviews as a solver yet.
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





<script>

  $("#btn-owner").on('click', function(){
    $(this).css('border-bottom', '1px solid #23B3B9')
    $("#btn-solver").css('border-bottom', 'none')
    $('.review_owner_wrapper').show()
    $('.review_solver_wrapper').hide()
  })

  $("#btn-solver").on('click', function(){
    $(this).css('border-bottom', '1px solid #23B3B9')
    $("#btn-owner").css('border-bottom', 'none')
    $('.review_owner_wrapper').hide()
    $('.review_solver_wrapper').show()
  })

</script>
