<%- title "Babies Are Not Expensive. Buy baby products from JB and save up to 42%! - Moonlight - En Route Marketplace" %>
<div class="container blog_wrapper">
  <div class="row text-center">
    <%= image_tag("baby_product_image.png", class:"blog_image_show")%>
  </div>
  <div class="row relative">
    <div class="col-xs-12 col-lg-10 col-lg-offset-2">
      <h1>Babies Are Not Expensive.</h1>
      <h5>Wilson Wan<span class="blog_dot">&#8226;</span>10 April 2019<span class="blog_dot">&#8226;</span>6 min read</h5>
      <h5>This is it! The ultimate guide to buying baby products in JB.</h5>
    </div>
    <div class="separator_blog"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Let’s be frank. As parents, we are willing to invest in certain baby products for our precious little ones. However, it might break the bank to always splurge on single use items such as wet wipes and milk storage bags.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Diapers are another hot topic as babies go through countless pieces each day, and not all of them are made equal. Every baby has a preference when it comes to comfort and absorbance, but that doesn’t mean we can’t find a way to save on diapers too!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      In this guide, we will assume that the currency exchange rate is SGD 1 to RM 3. We have tried our best to source for the best prices available online for our readers. Prices may differ as they may change after the article is published. Alrighty, let's begin!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 bold">
      Spare me the grandmother story.
      <ul class="tldr">
        <li>Buy baby supplies from JB and save up to <strong>42%</strong>.</li>
        <li>Save up to <strong>SGD 87</strong> per month on baby supplies.</li>
        <li>Get items from JB without leaving Singapore through Moonlight.</li>
        <li>We are launching soon! <strong><%= link_to "Sign up here", "http://moonlight.sg" %></strong> for early invitation!</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>The Shopping List</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th class="bold shaded">Item</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Diapers</td>
        </tr>
        <tr>
          <td>Baby Wipes</td>
        </tr>
        <tr>
          <td>Baby Detergent</td>
        </tr>
        <tr>
          <td>Milk Bottle</td>
        </tr>
        <tr>
          <td>Milk Bottle Nipple</td>
        </tr>
        <tr>
          <td>Milk Storage Bag</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Price War: SG vs Online vs JB retail</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3>Diapers</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Our first contender is the funky smelling diaper.
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('gif1.gif', class:"gif") %>
      <p class="giphy">via GIPHY</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th class="shaded">Item</th>
          <th class="shaded">SG<br>(SGD)*</th>
          <th class="shaded">Online<br>(SGD)*</th>
          <th class="shaded">JB Retail<br>(SGD)*</th>
          <th class="shaded">Savings</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mamy Poko Airfit (NB)</td>
          <td>0.238</td>
          <td>0.32</td>
          <td>0.223</td>
          <td class="postive">6%</td>
        </tr>
        <tr>
          <td>Mamy Poko Airfit (S)</td>
          <td>0.308</td>
          <td>0.32</td>
          <td>0.229</td>
          <td class="postive">25%</td>
        </tr>
        <tr>
          <td>Mamy Poko Airfit (M)</td>
          <td>0.405</td>
          <td>0.464</td>
          <td>0.301</td>
          <td class="postive">25%</td>
        </tr>
        <tr>
          <td>Mamy Poko Airfit (L)</td>
          <td>0.480</td>
          <td>0.499</td>
          <td>0.356</td>
          <td class="postive">25%</td>
        </tr>
        <tr>
          <td>Mamy Poko Airfit (XL)</td>
          <td>0.518</td>
          <td>0.589</td>
          <td>0.30</td>
          <td class="postive">42%</td>
        </tr>
        <tr class="blank_row">
          <td colspan="5"></td>
        </tr>
        <tr>
          <td>Merries (NB)</td>
          <td>0.266</td>
          <td>0.286</td>
          <td>0.177</td>
          <td class="postive">33%</td>
        </tr>
        <tr>
          <td>Merries (S)</td>
          <td>0.296</td>
          <td>0.238</td>
          <td>0.194</td>
          <td class="postive">18%</td>
        </tr>
        <tr>
          <td>Merries (M)</td>
          <td>0.342</td>
          <td>0.343</td>
          <td>0.249</td>
          <td class="postive">27%</td>
        </tr>
        <tr>
          <td>Merries (L)</td>
          <td>0.406</td>
          <td>0.407</td>
          <td>0.295</td>
          <td class="postive">27%</td>
        </tr>
        <tr>
          <td>Merries (XL)</td>
          <td>0.499</td>
          <td>0.50</td>
          <td>0.362</td>
          <td class="postive">27%</td>
        </tr>
        <tr class="blank_row">
          <td colspan="5"></td>
        </tr>
        <tr>
          <td>Drypers Touch (NB)</td>
          <td>0.187</td>
          <td>0.268</td>
          <td>-</td>
          <td rowspan=5 class="nay negative">Nay. :(</td>
        </tr>
        <tr>
          <td>Drypers Touch (S)</td>
          <td>0.207</td>
          <td>0.214</td>
          <td>0.232</td>
        </tr>
        <tr>
          <td>Drypers Touch (M)</td>
          <td>0.226</td>
          <td>0.335</td>
          <td>0.254</td>
        </tr>
        <tr>
          <td>Drypers Touch (L)</td>
          <td>0.268</td>
          <td>0.398</td>
          <td>0.301</td>
        </tr>
        <tr>
          <td>Drypers Touch (XL)</td>
          <td>0.315</td>
          <td>0.467</td>
          <td>0.354</td>
        </tr>
      </tbody>
    </table>
      </div>
      <p class="price">*price per pc</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      On average, a newborn baby might use up to <strong>12 diapers</strong> a day! We compared the retail prices amongst 3 different brands and found a potential saving of up to <strong>42%</strong> for Mamy Poko and Merries diapers!<br>
      <br>However, it’s not true that everything is cheaper across the border. For example, it is cheaper to buy Drypers diapers locally than in JB.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3>Wipes</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th class="shaded">Item</th>
          <th class="shaded">SG<br>(SGD)</th>
          <th class="shaded">Online<br>(SGD)</th>
          <th class="shaded">JB Retail<br>(SGD)</th>
          <th class="shaded">Savings</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>K-Mom<br>(300pcs)</td>
          <td>16.50<br>(0.055/pc)</td>
          <td>15.90<br>(0.053/pc)</td>
          <td>12.96<br>(0.0432/pc)</td>
          <td class="nay postive">18%</td>
        </tr>
        <tr>
          <td>Pigeon<br>(82pcs)</td>
          <td>2.92<br>(0.036/pc)</td>
          <td>3.25<br>(0.040/pc)</td>
          <td>2.50<br>(0.030/pc)</td>
          <td class="nay postive">14%</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      For every diaper change, we estimated that a minimum 3 pieces of wet wipes are needed <strong>(that’s 36pcs a day and 1080pcs a month!)</strong>. Not forgetting that baby wipes are also used for other purposes such as toys and surface cleaning, that might amount to
      5 packets of K-Mom (300pcs) monthly. We could save up to <strong>SGD 14.70 (18%)</strong> if we purchase them in JB.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3>Baby Detergent</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th class="shaded">Item</th>
          <th class="shaded">SG<br>(SGD)</th>
          <th class="shaded">Online<br>(SGD)</th>
          <th class="shaded">JB Retail<br>(SGD)</th>
          <th class="shaded">Savings</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nappikleen<br>Antibacterial Liquid Wash</td>
          <td>8.90</td>
          <td>8.90</td>
          <td>6.63</td>
          <td class="postive">25%</td>
        </tr>
        <tr>
          <td>Pigeon<br>Baby Laundry Refill</td>
          <td>6.90</td>
          <td>6.90</td>
          <td>7.00</td>
          <td class="negative">Nay :(</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      There is not much of a price difference for Pigeon baby detergent. However, for parents who use baby detergent from Nappikleen, you might want to consider buying it at JB for the 25% savings.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      For items which come in direct contact with milk (such as milk bottle, nipple and storage bag), we will choose a reputable brand which is available in both SG and JB.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3>Milk Bottle</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th class="shaded">Item</th>
          <th class="shaded">SG<br>(SGD)</th>
          <th class="shaded">Online<br>(SGD)</th>
          <th class="shaded">JB Retail<br>(SGD)</th>
          <th class="shaded">Savings</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pigeon (160)<br>Wide Neck</td>
          <td>18.90</td>
          <td>16.45</td>
          <td>12.80</td>
          <td class="postive">22%</td>
        </tr>
        <tr>
          <td>Pigeon (240)<br>Wide Neck</td>
          <td>17.45</td>
          <td>17.45</td>
          <td>13.80</td>
          <td class="postive">20%</td>
        </tr>
        <tr>
          <td>Pigeon (330)<br>Wide Neck</td>
          <td>15.90</td>
          <td>15.90</td>
          <td>18</td>
          <td class="negative">Nay. :(</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <p class="disclaimer">Disclaimer: it may appear that we are endorsing products from Pigeon, but we are not! We compared the top milk bottle, nipple and milk storage bag brands (e.g. Tommee Tippee, Philips Avent, Comotomo, Dr Brown & NUK) and found that they are more expensive in JB. Pigeon is the only brand cheaper in JB.</p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      On average, parents typically have 3 bottles which are replaced every 4 - 6 months. That is approximately 9 bottles per year and a potential savings up to <strong>SGD 32.57 (22%)</strong>!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3>Bottle Nipple</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th class="shaded">Item</th>
          <th class="shaded">SG<br>(SGD)*</th>
          <th class="shaded">Online<br>(SGD)*</th>
          <th class="shaded">JB Retail<br>(SGD)*</th>
          <th class="shaded">Savings</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pigeon Peristaltic<br>Wide Neck Silicon Nipple</td>
          <td>8.90</td>
          <td>8.90</td>
          <td>8.90</td>
          <td class="negative">Nay. :(</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Similarly, parents typically have 3 bottle nipples (matching the number of bottles). It is advised to replace them every 3 months (that’s 12pcs per year). Tough luck, bottle nipples aren’t cheaper on the opposite side of the causeway.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3>Milk Storage Bag</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th class="shaded">Item</th>
          <th class="shaded">SG<br>(SGD)*</th>
          <th class="shaded">Online<br>(SGD)*</th>
          <th class="shaded">JB Retail<br>(SGD)*</th>
          <th class="shaded">Savings</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pigeon<br>Milk Storage Bag<br>(25pcs)</td>
          <td>15.90</td>
          <td>11.00</td>
          <td>6.70</td>
          <td class="postive">39%</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Lastly, we have the greatest of all evils amongst all disposable baby supplies; the Milk Storage Bag. World Health Organization recommends that newborns should be fed exclusively with their mummies’ breastmilk for the first 6 months.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 relative">
      <p class="quotes">
        Colostrum, the yellowish, sticky breast milk produced at the end of pregnancy, is recommended by WHO as the perfect food for the newborn, and feeding should be initiated within the first hour after birth.<br>
        <br>Exclusive breastfeeding is recommended up to 6 months of age, with continued breastfeeding along with appropriate complementary foods up to two years of age or beyond.
      </p>
    </div>
  </div>
<p class="credit">Source: https://www.who.int/topics/breastfeeding/en/</p>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      With social situations common to modern cities like Singapore, 1 in 2 families (53.8%) have a dual-income (both daddy and mummy are working) in Singapore.<br>
      <br>Once mummy goes back to work, it is challenging to have the newborn by her side at all times for breastfeeding latch. That is where milk storage bags come into play.<br>
      <br>By freezing the liquid gold in milk storage bags, it can be stored up to 6 months!  On average, mummies could use up to <strong>6 bag per day</strong> which amount to <strong>180 bags per month</strong>. That is <strong>SGD 30.03 (39%)</strong> potential savings for 7 boxes of 25pc milk storage bags!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Phew. That was intense.
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('gif2.gif', class:"gif") %>
      <p class="giphy">via GIPHY</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      So, how much do i get to save?
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('gif3.gif', class:"gif") %>
      <p class="giphy">via GIPHY</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th class="shaded">Item</th>
            <th class="shaded">SG/<br>Online<br>(SGD)*</th>
            <th class="shaded">JB Retail<br>(SGD)*</th>
            <th class="shaded">Savings</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Diapers</td>
            <td>95.76</td>
            <td>63.72</td>
            <td class="postive">32.04</td>
          </tr>
          <tr>
            <td>Wipes</td>
            <td>79.50</td>
            <td>64.80</td>
            <td class="postive">14.70</td>
          </tr>
          <tr>
            <td>Baby Detergent</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Milk Bottle</td>
            <td>49.35</td>
            <td>38.40</td>
            <td class="postive">10.95</td>
          </tr>
          <tr>
            <td>Milk Bottle Nipple</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Milk Storage Bag</td>
            <td>77.00</td>
            <td>46.90</td>
            <td class="postive">30.10</td>
          </tr>
          <tr>
            <td>Total</td>
            <td><strong>301.61</strong></td>
            <td><strong>213.82</strong></td>
            <td class="postive"><strong>87.79</strong></td>
          </tr>
        </tbody>
      </table>
      </div>
      <p class="price">*cost per month</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>What about Custom Tax? Still worth it?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Our government has recently revised the Goods and Service Tax (GST) Import Relief for travellers returning to Singapore.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 relative">
      <p class="quotes">
        With effect from 19 February 2019, travellers who spend less than 48 hours outside Singapore and travellers who spend at least 48 hours outside Singapore will respectively get GST Import Relief for the first S$100 and $500 of the value of goods brought in from overseas.
      </p>
    </div>
  </div>
  <p class="credit">Source: https://www.gov.sg/factually/content/is-it-true-that-i-have-to-pay-gst-on-items-purchased-overseas</p>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
        <tbody>
          <tr>
            <td class="shaded">Monthly cost of baby supplies</td>
            <td>SGD 213.82</td>
          </tr>
          <tr>
            <td class="shaded">GST on amount exceeding SGD 100</td>
            <td>
              SGD 7.97<br>
              (SGD 213.82 - SGD 100) * 0.07
            </td>
          </tr>
          <tr>
            <td class="shaded">Total damage with GST</td>
            <td><strong>SGD 221.79</strong></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Fret not, GST is only applied to the value of goods after the first SGD 100 if you're on a day shopping trip in JB. For the amount of supplies we buy in JB, it will incur a tax of SGD 7.06.
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
        <tbody>
          <tr>
            <td class="shaded">Buy from SG / Online stores</td>
            <td>SGD 301.61</td>
          </tr>
          <tr>
            <td class="shaded">Buy from JB stores</td>
            <td>SGD 221.79</td>
          </tr>
          <tr>
            <td class="shaded">Total savings</td>
            <td><strong>SGD 79.82</strong></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      After accounting for GST, we could still get to save up to SGD 79.82! That’s a 26% discount on a month’s worth of baby supplies!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Huh. So troublesome. Still need to pay tax.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Have no fear, Customs@SG is here. It is now very convenient for travellers returning to Singapore to declare and pay GST in advance through their <strong><%= link_to "Customs@SG Mobile & Web Application", "https://www.customs.gov.sg/eservices/customs-sg-mobile-and-web-application" %></strong> without the need to visit their office at the checkpoint.
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('customs.png', size:"250x311", class:"customs") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 relative">
      <p class="quotes">
        Once payment has been made, the app will automatically create an e-receipt in the traveller’s mobile phone.<br>
        <br>Travellers can proceed to exit the checkpoint by the Customs Green Channel.<br>
        <br>When they are stopped for checks, travellers can show the e-receipts on their smartphone as proof of payment.
      </p>
    </div>
  </div>
  <p class="credit">Source: https://www.customs.gov.sg/eservices/customs-sg-mobile-and-web-application</p>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>But I don’t want to get caught in the jam.</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('gif4.gif', class:"gif") %>
      <p class="giphy">via GIPHY</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Nobody likes to get caught in the jam. However, that doesn’t deter us from entering JB for a day shopping and eating trip! For those who hate the long queues at immigration or don’t have the time and means to travel to JB, Moonlight is here to save the day.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Moonlight - An online crowdsourcing marketplace</h2>
      <p class="launchingsoon">We are launching soon! <strong><%= link_to "Sign up here", "http://moonlight.sg" %></strong> for early invitation!</p>
    </div>
  </div>
  <div class="row howitworks">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p>
        Here’s how it works.
      </p>
      <h4 class="bold">Post a Job</h4>
      <p>
        List your purchase request with all the information (what are the items? when do you need them? etc.) as a job in Moonlight. Provide a <strong>'Bounty'</strong> as a reward for the shopper's hard work.
      </p>
      <h4 class="bold">Bid</h4>
      <p>
        Shoppers are able to see bids placed by others and compete to win your job in an open and transparent marketplace. <strong>More competition, more bang for your buck!</strong>
      </p>
      <h4 class="bold">Award the Job to Shopper</h4>
      <p>
        Before awarding the job, you can check the Shoppers' profile which has their ratings and reviews to make an informed decision. Upon awarding the Job to a Shopper, <strong>Moonlight will hold the Bounty and release it to the Shopper after the job is done!</strong>
      </p>
      <h4 class="bold">Receive your items</h4>
      <p>
        Sit back, relax and wait for your items.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Don’t mind getting caught in the jam?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      On the flip side, why not make some extra cash by helping others buy items while you’re at it. As a Shopper, you get to bid for the jobs which are convenient for you.<br>
      <br>Through Moonlight, you don’t have to worry about the Customer backing out or delaying payments as we will hold the Bounty (aka the reward for your hard work) with us once the Customer awards the job to you. <strong><%= link_to "Sign up here", "http://moonlight.sg" %></strong> for early invitation!
    </div>
  </div>
</div>
