<div class="container blog_wrapper">
  <div class="row text-center">
    <%= image_tag("cosmetic_product_image.png", class:"blog_image_show")%>
  </div>
  <div class="row relative">
    <div class="col-xs-12 col-lg-10 col-lg-offset-2">
      <h1>Save up to 53% on cosmetics products!</h1>
      <h5>Wilson Wan<span class="blog_dot">&#8226;</span>17 April 2019<span class="blog_dot">&#8226;</span>5 min read</h5>
      <h5>Part 2 - The ultimate guide to buying cosmetics products in JB.</h5>
    </div>
    <div class="separator_blog"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      In the second part of the ultimate shopping guide in JB, we will focus on cosmetics products.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Due the gender diversity of the team, we can't give any review or opinion on the products (I mean we could try but that's a topic for another day). However, nothing will stop the team at Moonlight to source for the best deals and bang for your buck.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      In this article, we will share the amount of savings you can have for the products which we found to be ALOT cheaper on the opposite side of the causeway.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      We will assume that the exchange rate is SGD 1 to RM 3. We have tried our best to source for the best prices available online for our readers. Prices may differ as they may change after the article is published.
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('gif5.gif', class:"gif") %>
      <p class="giphy">via GIPHY</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Spare me the grandmother story.
      <ul class="tldr">
        <li>Buy cosmetics products from JB and save up to <strong>53%</strong>.</li>
        <li>Average savings of 31% after accounting for GST on the amount exceeding GST Import Relief.</li>
        <li>Get items from JB without leaving Singapore through Moonlight.</li>
        <li>We are launching soon! <strong><%= link_to "Sign up here", "http://moonlight.sg" %></strong> for early invitation!</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Price War: SG/Online vs JB retail</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Maybelline</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/c1.jpg', size:"140x160") %>
      <p class="itemname">Superstay Matte Ink</p>
      <p class="sgprice">SG Price: SGD 12.50</p>
      <p class="jbprice">JB Price: SGD 9.83</p>
      <p class="savings">Savings: SGD 2.67 (21%)</p>
    </div>
    <div class="col-xs-6 col-lg-3 text-center">
      <%= image_tag('cosmetics/c2.jpg', size:"140x160") %>
      <p class="itemname">FIT ME Concealer</p>
      <p class="sgprice">SG Price: SGD 11.90</p>
      <p class="jbprice">JB Price: SGD 5.58</p>
      <p class="savings">Savings: SGD 6.32 (53%)</p>
    </div>
  </div>

<div class="row">
  <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
    <%= image_tag('cosmetics/c3.jpg', size:"140x160") %>
    <p class="itemname">Instant Age Rewind</p>
    <p class="sgprice">SG Price: SGD 13.93</p>
    <p class="jbprice">JB Price: SGD 10.63</p>
    <p class="savings">Savings: SGD 3.30 (23%)</p>
  </div>
  <div class="col-xs-6 col-lg-3 text-center">
    <%= image_tag('cosmetics/c4.jpg', size:"140x160") %>
    <p class="itemname">The City Mini Palette</p>
    <p class="sgprice">SG Price: SGD 17.43</p>
    <p class="jbprice">JB Price: SGD 8.32</p>
    <p class="savings">Savings: SGD 9.11 (52%)</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
    <%= image_tag('cosmetics/c5.jpg', size:"140x160") %>
    <p class="itemname">Hypersharp Black Liner</p>
    <p class="sgprice">SG Price: SGD 11.90</p>
    <p class="jbprice">JB Price: SGD 7.97</p>
    <p class="savings">Savings: SGD 3.93 (33%)</p>
  </div>
  <div class="col-xs-6 col-lg-3 text-center">
    <%= image_tag('cosmetics/c6.jpg', size:"140x160") %>
    <p class="itemname">Baby Skin Pore Smooth</p>
    <p class="sgprice">SG Price: SGD 19.90</p>
    <p class="jbprice">JB Price: SGD 9.96</p>
    <p class="savings">Savings: SGD 9.94 (49%)</p>
  </div>
</div>

  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/magnum.jpg', size:"140x160") %>
      <p class="itemname">The Magnum Waterproof Mascara</p>
      <p class="sgprice">SG Price: SGD 13.90</p>
      <p class="jbprice">JB Price: SGD 10.60</p>
      <p class="savings">Savings: SGD 3.30 (20%)</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Kate Tokyo</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/c7.jpg', size:"140x160") %>
      <p class="itemname">Powdery Skin Maker</p>
      <p class="sgprice">SG Price: SGD 30.60</p>
      <p class="jbprice">JB Price: SGD 22.95</p>
      <p class="savings">Savings: SGD 7.65 (25%)</p>
    </div>
    <div class="col-xs-6 col-lg-3 text-center">
      <%= image_tag('cosmetics/c8.jpg', size:"140x160") %>
      <p class="itemname">Eye Brow Pencil</p>
      <p class="sgprice">SG Price: SGD 10.90</p>
      <p class="jbprice">JB Price: SGD 8.13</p>
      <p class="savings">Savings: SGD 3.81 (31%)</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">SILKYGIRL</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/c9.jpg', size:"140x160") %>
      <p class="itemname">Magic BB Cream</p>
      <p class="sgprice">SG Price: SGD 11.12</p>
      <p class="jbprice">JB Price: SGD 6.57</p>
      <p class="savings">Savings: SGD 4.55 (40%)</p>
    </div>
    <div class="col-xs-6 col-lg-3 text-center">
      <%= image_tag('cosmetics/c10.jpg', size:"140x160") %>
      <p class="itemname2">Shine Free Loose Powder</p>
      <p class="sgprice">SG Price: SGD 14.90</p>
      <p class="jbprice">JB Price: SGD 8.85</p>
      <p class="savings">Savings: SGD 6.05 (40%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/c11.jpg', size:"140x160") %>
      <p class="itemname">Skin Perfect Liquid Foundation</p>
      <p class="sgprice">SG Price: SGD 12.72</p>
      <p class="jbprice">JB Price: SGD 8.07</p>
      <p class="savings">Savings: SGD 4.65 (36%)</p>
    </div>
    <div class="col-xs-6 col-lg-3 text-center">
      <%= image_tag('cosmetics/c12.jpg', size:"140x160") %>
      <p class="itemname">Hydra White Foundation</p>
      <p class="sgprice">SG Price: SGD 13.52</p>
      <p class="jbprice">JB Price: SGD 9.15</p>
      <p class="savings">Savings: SGD 4.37 (32%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/c13.jpg', size:"140x160") %>
      <p class="itemname">Moisture Balm</p>
      <p class="sgprice">SG Price: SGD 11.12</p>
      <p class="jbprice">JB Price: SGD 5.93</p>
      <p class="savings">Savings: SGD 5.19 (46%)</p>
    </div>
    <div class="col-xs-6 col-lg-3 text-center">
      <%= image_tag('cosmetics/c14.jpg', size:"140x160") %>
      <p class="itemname">Cushion Matte lip</p>
      <p class="sgprice">SG Price: SGD 10.32</p>
      <p class="jbprice">JB Price: SGD 8.37</p>
      <p class="savings">Savings: SGD 1.95 (18%)</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">L'Oréal</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/c25.jpg', size:"140x160") %>
      <p class="itemname">True Match Liquid Foundation</p>
      <p class="sgprice">SG Price: SGD 30.90</p>
      <p class="jbprice">JB Price: SGD 15.97</p>
      <p class="savings">Savings: SGD 14.93 (48%)</p>
    </div>
    <div class="col-xs-6 col-lg-3 text-center">
      <%= image_tag('cosmetics/c26.jpg', size:"140x160") %>
      <p class="itemname">Paris Elseve Extraordinary Oil Gold</p>
      <p class="sgprice">SG Price: SGD 17.10</p>
      <p class="jbprice">JB Price: SGD 10.97</p>
      <p class="savings">Savings: SGD 6.13 (35%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/c27.jpg', size:"140x160") %>
      <p class="itemname">Paris Colour Riche Lipsticks</p>
      <p class="sgprice">SG Price: SGD 19.90</p>
      <p class="jbprice">JB Price: SGD 14.12</p>
      <p class="savings">Savings: SGD 5.78 (29%)</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Bourjois</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/c16.jpg', size:"180x150") %>
      <p class="itemname">Little Round Pot Blush</p>
      <p class="sgprice">SG Price: SGD 16.70</p>
      <p class="jbprice">JB Price: SGD 10.64</p>
      <p class="savings">Savings: SGD 6.06 (36%)</p>
    </div>
    <div class="col-xs-6 col-lg-3 text-center">
      <%= image_tag('cosmetics/c17.jpg', size:"140x150") %>
      <p class="itemname">Healthy Mix Foundation</p>
      <p class="sgprice">SG Price: SGD 29.90</p>
      <p class="jbprice">JB Price: SGD 17.07</p>
      <p class="savings">Savings: SGD 12.83 (42%)</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Simple</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-3 col-lg-offset-3 text-center">
      <%= image_tag('cosmetics/c21.jpg', size:"140x160") %>
      <p class="itemname">Micellar Cleansing Water 200ml</p>
      <p class="sgprice">SG Price: SGD 10.00</p>
      <p class="jbprice">JB Price: SGD 6.20</p>
      <p class="savings">Savings: SGD 3.80 (38%)</p>
    </div>
    <div class="col-xs-6 col-lg-3 text-center">
      <%= image_tag('cosmetics/c22.jpg', size:"140x160") %>
      <p class="itemname">Micellar Cleansing Wipes 25's</p>
      <p class="sgprice">SG Price: SGD 11.90</p>
      <p class="jbprice">JB Price: SGD 6.27</p>
      <p class="savings">Savings: SGD 5.63 (47%)</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-6 col-lg-5 col-lg-offset-2">
      <h3 class="bold">Biore</h3>
      <%= image_tag('cosmetics/c18.jpg', size:"140x160") %>
      <p class="itemname">Cleansing Oil 150ml</p>
      <p class="sgprice">SG Price: SGD 14.90</p>
      <p class="jbprice">JB Price: SGD 6.89</p>
      <p class="savings">Savings: SGD 8.01 (53%)</p>
    </div>
    <div class="col-xs-6 col-lg-5 col-lg-pull-2">
      <h3 class="bold">Liese</h3>
      <%= image_tag('cosmetics/c19.jpg', size:"140x160") %>
      <p class="itemname">Creamy Bubble Colour</p>
      <p class="sgprice">SG Price: SGD 16.80</p>
      <p class="jbprice">JB Price: SGD 13.27</p>
      <p class="savings">Savings: SGD 3.53 (21%)</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-6 col-lg-5 col-lg-offset-2">
      <h3 class="bold">3M</h3>
      <%= image_tag('cosmetics/c20.jpg', size:"140x160") %>
      <p class="itemname">Acne Patch 36pcs</p><br>
      <p class="sgprice">SG Price: SGD 8.20</p>
      <p class="jbprice">JB Price: SGD 4.04</p>
      <p class="savings">Savings: SGD 4.16 (50%)</p>
    </div>
    <div class="col-xs-6 col-lg-5 col-lg-pull-2">
      <h3 class="bold">Moist Diane</h3>
      <%= image_tag('cosmetics/c23.jpg', size:"140x160") %>
      <p class="itemname">Botanical Organic Lavender Shampoo</p>
      <p class="sgprice">SG Price: SGD 18.90</p>
      <p class="jbprice">JB Price: SGD 10.97</p>
      <p class="savings">Savings: SGD 7.93 (41%)</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-6 col-lg-5 col-lg-offset-2">
      <h3 class="bold">ZA</h3>
      <%= image_tag('cosmetics/c24.jpg', size:"140x160") %>
      <p class="itemname">Killer Volume Mascara</p><br>
      <p class="sgprice">SG Price: SGD 18.50</p>
      <p class="jbprice">JB Price: SGD 10.44</p>
      <p class="savings">Savings: SGD 8.06 (43%)</p>
    </div>
    <div class="col-xs-6 col-lg-5 col-lg-pull-2">
      <h3 class="bold">Garnier</h3>
      <%= image_tag('cosmetics/c28.jpg', size:"140x160") %>
      <p class="itemname">Micellar Cleansing water 400ml</p>
      <p class="sgprice">SG Price: SGD 14.30</p>
      <p class="jbprice">JB Price: SGD 9.96</p>
      <p class="savings">Savings: SGD 4.34 (30%)</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-6 col-lg-5 col-lg-offset-2">
      <h3 class="bold">Revlon</h3>
      <%= image_tag('cosmetics/c15.jpg', size:"140x160") %>
      <p class="itemname">Complexion Loose Powder</p>
      <p class="sgprice">SG Price: SGD 25.90</p>
      <p class="jbprice">JB Price: SGD 17.90</p>
      <p class="savings">Savings: SGD 8.00 (30%)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>What about Custom Tax? Still worth it?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Our government has recently revised the Goods and Service Tax (GST) Import Relief for travellers returning to Singapore.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 relative">
      <div class="v1"></div>
      <p class="quotes">
        With effect from 19 February 2019, travellers who spend less than 48 hours outside Singapore and travellers who spend at least 48 hours outside Singapore will respectively get GST Import Relief for the first S$100 and $500 of the value of goods brought in from overseas.
      </p>
    </div>
  </div>
  <p class="credit">Source: https://www.gov.sg/factually/content/is-it-true-that-i-have-to-pay-gst-on-items-purchased-overseas</p>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Fret not, GST is only applied to the value of goods after the first SGD 100 if you're on a day shopping trip in JB.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      The average savings for cosmetics products is 38%.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Even if you exceed the GST Import Relief, you will only need to pay 7cents for every SGD 1. You still get to enjoy great savings at 31%!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Huh. So troublesome. Still need to pay tax.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Have no fear, Customs@SG is here. It is now very convenient for travellers returning to Singapore to declare and pay GST in advance through their <strong><%= link_to "Customs@SG Mobile & Web Application", "https://www.customs.gov.sg/eservices/customs-sg-mobile-and-web-application" %></strong> without the need to visit their office at the checkpoint.
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('customs.png', size:"250x311", class:"customs") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 relative">
      <div class="v1"></div>
      <p class="quotes">
        Once payment has been made, the app will automatically create an e-receipt in the traveller’s mobile phone.<br>
        <br>Travellers can proceed to exit the checkpoint by the Customs Green Channel.<br>
        <br>When they are stopped for checks, travellers can show the e-receipts on their smartphone as proof of payment.
      </p>
    </div>
  </div>
  <p class="credit">Source: https://www.customs.gov.sg/eservices/customs-sg-mobile-and-web-application</p>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>But I don’t want to get caught in the jam.</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('gif4.gif', class:"gif") %>
      <p class="giphy">via GIPHY</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Nobody likes to get caught in the jam. However, that doesn’t deter us from entering JB for a day shopping and eating trip! For those who hate the long queues at immigration or don’t have the time and means to travel to JB, Moonlight is here to save the day.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Moonlight - An online crowdsourcing marketplace</h2>
      <p class="launchingsoon">We are launching soon! <strong><%= link_to "Sign up here", "http://moonlight.sg" %></strong> for early invitation!</p>
    </div>
  </div>
  <div class="row howitworks">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p>
        Here’s how it works.
      </p>
      <h4 class="bold">Post a Job</h4>
      <p>
        List your purchase request with all the information (what are the items? when do you need them? etc.) as a job in Moonlight. Provide a <strong>'Bounty'</strong> as a reward for the shopper's hard work.
      </p>
      <h4 class="bold">Bid</h4>
      <p>
        Shoppers are able to see bids placed by others and compete to win your job in an open and transparent marketplace. <strong>More competition, more bang for your buck!</strong>
      </p>
      <h4 class="bold">Award the Job to Shopper</h4>
      <p>
        Before awarding the job, you can check the Shoppers' profile which has their ratings and reviews to make an informed decision. Upon awarding the Job to a Shopper, <strong>Moonlight will hold the Bounty and release it to the Shopper after the job is done!</strong>
      </p>
      <h4 class="bold">Receive your items</h4>
      <p>
        Sit back, relax and wait for your items.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Don’t mind getting caught in the jam?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      On the flip side, why not make some extra cash by helping others buy items while you’re at it. As a Shopper, you get to bid for the jobs which are convenient for you.<br>
      <br>Through Moonlight, you don’t have to worry about the Customer backing out or delaying payments as we will hold the Bounty (aka the reward for your hard work) with us once the Customer awards the job to you. <strong><%= link_to "Sign up here", "http://moonlight.sg" %></strong> for early invitation!
    </div>
  </div>
</div>
