<div class="container blog_wrapper">
  <div class="row text-center">
    <%= image_tag("baby_product_image.png", class:"blog_image_show")%>
  </div>
  <div class="row relative">
    <div class="col-xs-12 col-lg-10 col-lg-offset-2">
      <h1>Save up to 70% on cosmetics products!</h1>
      <h5>Wilson Wan<span class="blog_dot">&#8226;</span>15 April 2019<span class="blog_dot">&#8226;</span>5 min read</h5>
      <h5>Part 2 - The ultimate guide to buying cosmetics products in JB.</h5>
    </div>
    <div class="separator_blog"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      In the second part of the ultimate guide for shopping in JB, we will focus on cosmetics products.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Due the gender diversity of the team, we can't give any review or opinion on the products (I mean we could try it but it will ). However, nothing will stop the team at Moonlight to source for the best deals and bang for your buck.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      In this article, we will share the amount of savings you can have for the products which we found to be ALOT cheaper on the opposite side of the causeway.
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('gif5.gif', class:"gif") %>
      <p class="giphy">via GIPHY</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Spare me the grandmother story.
      <ul class="tldr">
        <li>Buy cosmetics products from JB and save up to <strong>70%</strong>.</li>
        <li>Tip 2</li>
        <li>Get items from JB without leaving Singapore through Moonlight.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Price War: SG vs Online vs JB retail</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Maybelline</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Superstay Matte Ink
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c1.jpg', size:"300x350") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 12.50</p>
      <p class="jbprice">JB Price: SGD 9.83</p>
      <p class="savings">Savings: SGD 2.67 (21%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    FIT ME Concealer
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c2.jpg', size:"350x350") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 11.90</p>
      <p class="jbprice">JB Price: SGD 5.58</p>
      <p class="savings">Savings: SGD 6.32 (53%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Instant Age Rewind
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c3.jpg', size:"350x350") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 13.93</p>
      <p class="jbprice">JB Price: SGD 10.63</p>
      <p class="savings">Savings: SGD 3.30 (23%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    The City Mini Palette
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c4.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 17.43</p>
      <p class="jbprice">JB Price: SGD 8.32</p>
      <p class="savings">Savings: SGD 9.11 (52%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Hypersharp Black Liner
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c5.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 11.90</p>
      <p class="jbprice">JB Price: SGD 7.97</p>
      <p class="savings">Savings: SGD 3.93 (33%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Baby Skin Pore Smooth
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c6.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 19.90</p>
      <p class="jbprice">JB Price: SGD 7.97</p>
      <p class="savings">Savings: SGD 11.93 (59%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    The Magnum Waterproof Mascara
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/magnum.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 13.90</p>
      <p class="jbprice">JB Price: SGD 10.60</p>
      <p class="savings">Savings: SGD 5.30 (33%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Kate Tokyo</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Powdery Skin Maker
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c7.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 30.60</p>
      <p class="jbprice">JB Price: SGD 22.95</p>
      <p class="savings">Savings: SGD 7.65 (25%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Eye Brow Pencil
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c8.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 10.90</p>
      <p class="jbprice">JB Price: SGD 8.13</p>
      <p class="savings">Savings: SGD 3.81 (31%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">SILKYGIRL</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Magic BB Cream
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c9.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 11.12</p>
      <p class="jbprice">JB Price: SGD 6.57</p>
      <p class="savings">Savings: SGD 4.55 (40%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Shine Free Loose Powder
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c10.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 14.90</p>
      <p class="jbprice">JB Price: SGD 8.85</p>
      <p class="savings">Savings: SGD 6.05 (40%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Skin Perfect Liquid Foundation
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c11.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 12.72</p>
      <p class="jbprice">JB Price: SGD 8.07</p>
      <p class="savings">Savings: SGD 4.65 (36%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Hydra White Foundation
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c12.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 13.52</p>
      <p class="jbprice">JB Price: SGD 9.15</p>
      <p class="savings">Savings: SGD 4.37 (32%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Moisture Balm
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c13.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 11.12</p>
      <p class="jbprice">JB Price: SGD 5.93</p>
      <p class="savings">Savings: SGD 5.19 (46%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Cushion Matte lip
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c14.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 10.32</p>
      <p class="jbprice">JB Price: SGD 8.37</p>
      <p class="savings">Savings: SGD 1.95 (18%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Revlon</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Complexion Loose Powder
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c15.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 25.90</p>
      <p class="jbprice">JB Price: SGD 17.90</p>
      <p class="savings">Savings: SGD 8.00 (30%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Bourjois</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Little Round Pot Blush
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c16.jpg', size:"300x210") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 16.70</p>
      <p class="jbprice">JB Price: SGD 10.64</p>
      <p class="savings">Savings: SGD 6.06 (36%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Healthy Mix Foundation
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c17.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 29.90</p>
      <p class="jbprice">JB Price: SGD 17.07</p>
      <p class="savings">Savings: SGD 12.83 (42%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Biore</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Cleansing Oil 150ml
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c18.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 14.90</p>
      <p class="jbprice">JB Price: SGD 6.89</p>
      <p class="savings">Savings: SGD 8.01 (53%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Liese</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Creamy Bubble Colour
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c19.jpg', size:"300x350") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 16.80</p>
      <p class="jbprice">JB Price: SGD 13.27</p>
      <p class="savings">Savings: SGD 3.53 (21%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">3M</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Acne Patch 36pcs
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c20.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 8.20</p>
      <p class="jbprice">JB Price: SGD 4.04</p>
      <p class="savings">Savings: SGD 4.16 (50%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Simple</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Micellar Cleansing Water 200ml
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c21.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 10.00</p>
      <p class="jbprice">JB Price: SGD 6.20</p>
      <p class="savings">Savings: SGD 3.80 (38%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Micellar Cleansing Wipes 25's
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c22.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 11.90</p>
      <p class="jbprice">JB Price: SGD 6.27</p>
      <p class="savings">Savings: SGD 5.63 (47%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Moist Diane</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Botanical Organic Lavender Shampoo
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c23.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 18.90</p>
      <p class="jbprice">JB Price: SGD 10.97</p>
      <p class="savings">Savings: SGD 7.93 (41%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">ZA</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Killer Volume Mascara
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c24.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 18.50</p>
      <p class="jbprice">JB Price: SGD 10.44</p>
      <p class="savings">Savings: SGD 8.06 (43%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">L'Oréal</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    True Match Liquid Foundation
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c25.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 30.90</p>
      <p class="jbprice">JB Price: SGD 15.97</p>
      <p class="savings">Savings: SGD 14.93 (48%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Paris Elseve Extraordinary Oil Gold
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c26.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 17.10</p>
      <p class="jbprice">JB Price: SGD 10.97</p>
      <p class="savings">Savings: SGD 6.13 (35%)</p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Paris Colour Riche Lipsticks
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c27.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 19.90</p>
      <p class="jbprice">JB Price: SGD 14.12</p>
      <p class="savings">Savings: SGD 5.78 (29%)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h3 class="bold">Garnier</h3>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center bold">
    Micellar cleansing water 400ml
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <%= image_tag('cosmetics/c28.jpg', size:"300x300") %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p class="sgprice">SG Price: SGD 14.30</p>
      <p class="jbprice">JB Price: SGD 9.96</p>
      <p class="savings">Savings: SGD 4.34 (30%)</p>
    </div>
  </div>





  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>What about Custom Tax? Still worth it?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Our government has recently revised the Goods and Service Tax (GST) import relief for travellers returning to Singapore.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 relative">
      <div class="v1"></div>
      <p class="quotes">
        With effect from 19 February 2019, travellers who spend less than 48 hours outside Singapore and travellers who spend at least 48 hours outside Singapore will respectively get GST import relief for the first S$100 and $500 of the value of goods brought in from overseas.
      </p>
    </div>
  </div>
  <p class="credit">Source: https://www.gov.sg/factually/content/is-it-true-that-i-have-to-pay-gst-on-items-purchased-overseas</p>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
        <tbody>
          <tr>
            <td>Monthly cost of baby supplies</td>
            <td>SGD 213.82</td>
          </tr>
          <tr>
            <td>GST on amount exceeding SGD 100</td>
            <td>
              SGD 7.97<br>
              (SGD 213.82 - SGD 100) * 0.07
            </td>
          </tr>
          <tr>
            <td>Total damage with GST</td>
            <td><strong>SGD 221.79</strong></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Fret not, GST is only applied to the value of goods after the first SGD 100. For the amount of supplies we buy in JB, it will incur a tax of SGD 7.06.
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
        <tbody>
          <tr>
            <td>Buy from SG / Online stores</td>
            <td>SGD 301.61</td>
          </tr>
          <tr>
            <td>Buy from JB stores</td>
            <td>SGD 221.79</td>
          </tr>
          <tr>
            <td>Total savings</td>
            <td><strong>SGD 79.82</strong></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      After accounting for GST, we could still get to save up to SGD 79.82! That’s a 26% discount on a month’s worth of baby supplies!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>But I don’t want to get caught in the jam.</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <%= image_tag('gif4.gif', class:"gif") %>
      <p class="giphy">via GIPHY</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      Nobody likes to get caught in the jam. However, that doesn’t deter us from entering JB for a day shopping and eating trip! For those who hate the long queues at immigration or don’t have the time and means to travel to JB, Moonlight is here to save the day.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Moonlight - An online crowdsourcing marketplace</h2>
    </div>
  </div>
  <div class="row howitworks">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <p>
        Here’s how it works.
      </p>
      <h4 class="bold">Post a Job</h4>
      <p>
        List your purchase request with all the information (e.g. what are the items? when do you need them?) as a job in Moonlight. Provide a <strong>'Bounty'</strong> as a reward for the shopper's hard work.
      </p>
      <h4 class="bold">Bid</h4>
      <p>
        Shoppers are able to see bids placed by others and compete to win your job listing in an open and transparent marketplace. <strong>More competition, more bang for your buck!</strong>
      </p>
      <h4 class="bold">Award the Job to shopper</h4>
      <p>
        Before awarding the job, you can check the shoppers' profile which has their ratings and reviews to make an informed decision. Upon awarding the job to a shopper, <strong>Moonlight will hold the Bounty and release it to the shopper after the job is done!</strong>
      </p>
      <h4 class="bold">Receive your items</h4>
      <p>
        Sit back, relax and wait for your items.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>Don’t mind getting caught in the jam?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      On the flip side, why not make some extra cash by helping others buy items while you’re at it. As a shopper, you get to bid for the jobs which are convenient for you.<br>
      <br>Through Moonlight, you don’t have to worry about the customer backing out or delaying payments as we will hold the Bounty (aka the reward for your hard work) with us once the customer awards the job to you.
    </div>
  </div>
</div>
