<div class="container blog_index">
  <div class="row">
    <div class="col-xs-4 col-lg-offset-2 ">
      <%= link_to image_tag("baby_product_image.png", class:"blog_image"), baby_products_path %>
    </div>
    <div class="col-xs-8 col-lg-4 blog_title">
      <%= link_to baby_products_path do %>
        <h4>Babies Are Not Expensive.</h4>
        <h5>This is it! The ultimate guide to buying baby products in JB. Potential savings up to 42%!</h5>
        <h5>Wilson Wan</h5>
        <h5>10 April 2019</h5>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-lg-offset-2 ">
      <%= link_to image_tag("cosmetics_product_image.png", class:"blog_image"), cosmetics_products_path %>
    </div>
    <div class="col-xs-8 col-lg-4 blog_title">
      <%= link_to cosmetics_products_path do %>
        <h4>Save on Cosmetics.</h4>
        <h5>Part 2 of the ultimate guide! Buy cosmetics products in JB and save up to 53%!</h5>
        <h5>Wilson Wan</h5>
        <h5>17 April 2019</h5>
      <% end %>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
    <h4 class="betalaunch">We are having our beta launch soon!<br><br><p class="signuphere"><%= link_to 'Sign up here', "https://moonlight.sg" %></p>for early invitation!</h4>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.icon, #zindextest').remove()
  });
</script>
