<div class="container landingwrapper text-center">
  <div class="row landingheader relative">
    <div class="vcenter">
      <div class="col-xs-12">
        <div class="color-font colored">Same</div>
        <div class="color-font">Item</div><br>
        <div class="color-font colored">Different</div>
        <div class="color-font">Prices</div>
        <div class="landingenter">
          <%= link_to "Enter Marketplace", lessons_path, class:"btn-enter" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row landinghow relative">
    <div class="col-xs-12 col-lg-12 landingsimple">
      How does it work?<br>
      SIMPLE!
    </div>
    <div class="landingcustomervid">
      <iframe src="https://player.vimeo.com/video/335271829" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-lg-3 landingimagefirst">
      <%= image_tag("ecommerce2.png", size:"150x150") %>
      <p>Post your Shopping List</p>
      <div class="maintext">
        (what are the items? when do you need them?)
      </div>
      <div class="subtext">
        Fill us in on the information of the items.
        <br>List it in the marketplace.
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 landingimage">
      <%= image_tag("bid.png", size:"160x150") %>
      <p>Bid</p>
      <div class="maintext">
        (MORE competition, MORE bang for your buck!)
      </div>
      <div class="subtext">
        Shoppers place bids and compete for your job in an open and transparent marketplace.
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 landingimage">
      <%= image_tag("auction4.png", size:"150x150") %>
      <p>Award</p>
      <div class="maintext">
        (Moonlight holds the "Bounty" aka reward for the Shopper' hard work until the job is done!)
      </div>
      <div class="subtext">
        Review all bids to make an informed decision.
        <p class="remember_to">*Psst, remember to check the Shoppers' profile and reviews!</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 landingimage landingimagelast">
      <%= image_tag("receive3.png", size:"150x150") %>
      <p>Receive</p>
      Sit back, relax and wait for the Shopper to deliver the items to your doorsteps!
    </div>
    <div class="landingshoppervid">
      <iframe src="https://player.vimeo.com/video/333376824" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row landingwhat relative">
    <div class="vcenter">
      <div class="col-xs-12">
        <div class="color-font-s colored">Up to</div>
        <div class="color-font-s">a whopping</div><br>
        <div class="color-font-s colored">50%</div>
        <div class="color-font-s">savings</div>
      </div>
    </div>
  </div>
  <div class="row landingarticle relative">
    <div class="col-xs-12">
      <div class="color-font-s colored">Money Saving</div><br>
      <div class="color-font-s">Articles</div>
    </div>
    <div class="col-xs-12 articlewrapperfirst">
      <%= link_to image_tag('baby_product_image.png', size:"300x250", class:"article"), baby_products_path %>
    </div>
    <div class="col-xs-12 articlewrapper">
      <%= link_to image_tag('cosmetics_product_image.png', size:"300x250", class:"article"), cosmetics_products_path %>
    </div>
  </div>
  <div class="row landinginfo relative">
    <div class="vcenter">
      <div class="col-xs-12">
        <div class="landingdetails">
          <%= link_to 'Fees', fees_path %>
        </div>
        <div class="landingdetails">
          <%= link_to 'Blog', blog_path %>
        </div>
        <div class="landingdetails">
          <a href="FAQ.pdf">FAQ</a>
        </div>
        <div class="landingdetails">
          <a href="TermsandConditions.pdf">Terms and Conditions</a>
        </div>
        <div class="landingdetails">
          <a href="PrivacyPolicy.pdf">Privacy Policy</a>
        </div>
        <div class="landingdetails">
          <a href="AcceptableUsePolicy.pdf">Acceptable Use Policy</a>
        </div>
        <div class="landingdetails landingdetailslast">
          Contact Us - support@moonlight.sg
        </div>
      </div>
    </div>
  </div>
  <Br>
</div>
<script>

$(document).ready(function(){
  $('#chat').hide()
})

</script>
