<div class="container landingwrapper text-center">
  <div class="row landingheader relative">
    <div class="vcenter-header">
      <div class="col-xs-12">
        <div class="color-font colored">Same</div>
        <div class="color-font">Item</div><br>
        <div class="color-font colored">Different</div>
        <div class="color-font">Prices</div>
        <!--
        <div class="landingenter">
          <%= link_to "Enter Marketplace", lessons_path, class:"btn-enter" %>
        </div>
        -->
      </div>
    </div>
  </div>
  <% if @countdown > DateTime.current + 8.hours %>
    <div class="row relative">
      <%= link_to image_tag("express2.png", class:"express"), items_path %>
      <br><%= link_to "Shop Now!", items_path, class:"btn-shopnow" %>
    </div>
    <div class="row">
      <%= link_to image_tag("express.png", class:"express"), items_path %><br>
      <h4>Express Closing in</h4>
      <div id="clockdiv">
        <div>
          <span class="days"></span>
          <div class="smalltext">Day</div>
        </div>
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>
  <% else %>
    <%= link_to image_tag("over.gif", class:"express"), items_path %>
    <br><br><%= link_to "View Past Express Items", items_path, class:"btn-past" %>
  <% end %>
  <!--
  <div class="row landinghow relative">
    <div class="col-xs-12 col-lg-12 landingsimple">
      <div class="moonlightmarketplace">
        Moonlight Marketplace
      </div>
      How does it work?<br>
      SIMPLE!
    </div>
    <div class="landingcustomervid">
      <iframe src="https://player.vimeo.com/video/335271829" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-lg-3 landingimagefirst">
      <%= image_tag("ecommerce2.png", size:"150x150") %>
      <p>Post your Shopping List</p>
    </div>
    <div class="col-xs-12 col-lg-3 landingimage">
      <%= image_tag("bid.png", size:"160x150") %>
      <p>Wait for Bids</p>
    </div>
    <div class="col-xs-12 col-lg-3 landingimage">
      <%= image_tag("auction4.png", size:"150x150") %>
      <p>Award the Job</p>
    </div>
    <div class="col-xs-12 col-lg-3 landingimage landingimagelast">
      <%= image_tag("receive3.png", size:"150x150") %>
      <p>Receive the items</p>
    </div>
    <div class="landingshoppervid">
      <iframe src="https://player.vimeo.com/video/333376824" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
  -->
  <div class="row landingwhat relative">
    <div class="vcenter">
      <div class="col-xs-12">
        <div class="color-font-s colored">Up to</div>
        <div class="color-font-s">a whopping</div><br>
        <div class="color-font-s colored">50%</div>
        <div class="color-font-s">savings</div>
      </div>
    </div>
  </div>
  <div class="row landingreview relative">
    <h3>Our Customers</h3>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <% @testimonials.first(5).each_with_index do |t, i| %>
          <div class="item <%= 'active' if i == 0 %>">
            <% @user = t.user %>
            <% if @user.avatar.present? %>
              <%= image_tag(@user.avatar.image.url, class:"profile_pic", size:"150x150") %>
            <% else %>
              <%= image_tag("noavatar.png", class:"profile_pic", size:"150x150") %>
            <% end %>
            <% if @user.first_name.present? %>
              <p><%= @user.first_name %></p>
            <% else %>
              <p>Happy Customer</p>
            <% end %>
            <p class="testimonials_body"><%= t.body %></p>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="row landingarticle relative">
    <div class="col-xs-12">
      <div class="color-font-s colored">Money Saving</div><br>
      <div class="color-font-s">Articles</div>
    </div>
    <div class="col-xs-12 articlewrapperfirst">
      <%= link_to image_tag('baby_product_image.png', size:"300x250", class:"article"), baby_products_path %>
    </div>
    <div class="col-xs-12 articlewrapper">
      <%= link_to image_tag('cosmetics_product_image.png', size:"300x250", class:"article"), cosmetics_products_path %>
    </div>
  </div>
  <div class="row landinginfo relative">
    <div class="vcenter">
      <div class="col-xs-12">
        <div class="landingdetails">
          <%= link_to 'About Us', about_us_path %>
        </div>
        <!--
        <div class="landingdetails">
          <%= link_to 'Fees', fees_path %>
        </div>
        -->
        <div class="landingdetails">
          <%= link_to 'Blog', blog_path %>
        </div>
        <div class="landingdetails">
          <a href="FAQ.pdf">FAQ</a>
        </div>
        <div class="landingdetails">
          <a href="TermsandConditions.pdf">Terms and Conditions</a>
        </div>
        <div class="landingdetails">
          <a href="PrivacyPolicy.pdf">Privacy Policy</a>
        </div>
        <div class="landingdetails">
          <a href="AcceptableUsePolicy.pdf">Acceptable Use Policy</a>
        </div>
        <div class="landingdetails landingdetailslast">
          Contact Us - support@moonlight.sg<br><br>
          Hootenanny LLP<br>
          No. 18 Sin Ming Lane<br>
          #08-13 Midview City<br>
          Singapore 573960
        </div>
      </div>
    </div>
  </div>
  <Br>
</div>


<script>

$(document).ready(function(){
  $('#chat').hide()
})

function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date(2019, 06, 17);
initializeClock('clockdiv', deadline);

</script>
