
  <div class="container landingwrapper text-center">
    <div class="row landingheader relative">
      <div class="vcenter">
        <div class="col-xs-12">
          <div class="color-font colored">Same</div>
          <div class="color-font">Item</div><br>
          <div class="color-font colored">Different</div>
          <div class="color-font">Prices</div>
          <div class="landingenter">
            <%= link_to "Enter Marketplace", root_path, class:"btn-enter" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row landinghow relative">
      <div class="col-xs-12 col-lg-12 landingsimple">
        How does it work?<br>
        SIMPLE!
      </div>
        <div class="col-xs-12 col-lg-3 landingimagefirst">
          <%= image_tag("ecommerce2.png", size:"150x150") %>
          <p>Post a Job</p>
          <div class="maintext">
            (what are the items? when do you need them?)
          </div>
          <div class="subtext">
            Fill us in on the information of the items.
            <br>List the job in the crowdsourcing marketplace.
          </div>
        </div>
        <div class="col-xs-12 col-lg-3 landingimage">
          <%= image_tag("bid.png", size:"160x150") %>
          <p>Bid</p>
          <div class="maintext">
            (MORE competition, MORE bang for your buck!)
          </div>
          <div class="subtext">
            Shoppers place their bids and compete for your listing in an open and transparent marketplace.
          </div>
        </div>
        <div class="col-xs-12 col-lg-3 landingimage">
          <%= image_tag("auction4.png", size:"150x150") %>
          <p>Award</p>
          <div class="maintext">
            (Moonlight keeps the "Bounty" aka reward for the Shopper' hard work until the job is done!)
          </div>
          <div class="subtext">
            Review all the bids to make an informed decision.
            <br>*Psst, remember to check the Shoppers' profile and reviews!
          </div>
        </div>
        <div class="col-xs-12 col-lg-3 landingimage">
          <%= image_tag("receive3.png", size:"150x150") %>
          <p>Receive</p>
          Sit back, relax and wait for the Shopper to deliver the items to your doorsteps!
        </div>
    </div>
    <div class="row landingwhat relative">
      <div class="vcenter">
        <div class="col-xs-12">
          <div class="color-font-s colored">Up to</div>
          <div class="color-font-s">a whopping</div><br>
          <div class="color-font-s colored">50%</div>
          <div class="color-font-s">savings</div>
        </div>
      </div>
    </div>
    <div class="row landingarticle relative">
      <div class="col-xs-12 articlewrapperfirst">
        <%= image_tag('eg.png', size:"300x200", class:"article") %>
      </div>
      <div class="col-xs-12 articlewrapper">
        <%= image_tag('eg.png', size:"300x200", class:"article") %>
      </div>
      <div class="col-xs-12 articlewrapper">
        <%= image_tag('eg.png', size:"300x200", class:"article") %>
      </div>
      <div class="col-xs-12 articlewrapper">
        <%= image_tag('eg.png', size:"300x200", class:"article") %>
      </div>
      <div class="col-xs-12 articlewrapper">
        <%= image_tag('eg.png', size:"300x200", class:"article") %>
      </div>
    </div>

    <div class="row landinginfo relative">
      <div class="vcenter">
        <div class="col-xs-12">
          <div class="landingdetails">
            <%= link_to 'Terms and Conditions', termsandconditions_path %>
          </div>
          <div class="landingdetails">
            <%= link_to 'Contact Us', contact_path %>
          </div>
          <div class="">
            <%= link_to 'Blog', blog_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
