<div class="admin_wrapper">
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#usernumber"><h4 class="critical">Number of Users <%= User.all.count %></h4></button>
      <div id="usernumber" class="collapse">
        <% @users.each do |user| %>
          <%= user.email %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#open"><h4>Ongoing Jobs: <%= @ongoing_lessons.count %></h4></button>
      <div id="open" class="collapse">
        <% @ongoing_lessons.each do |lesson| %>
          <%= link_to lesson.title, lesson_path(lesson) %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#awarded"><h4>Ongoing Jobs (Awarded): <%= @ongoing_lessons_awarded.count %></h4></button>
      <div id="awarded" class="collapse">
        <% @ongoing_lessons_awarded.each do |lesson| %>
          <%= link_to lesson.title, lesson_path(lesson) %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#completed"><h4>Ongoing Jobs (Completed): <%= @ongoing_lessons_completed.count %></h4></button>
      <div id="completed" class="collapse">
        <% @ongoing_lessons_completed.each do |lesson| %>
          <%= link_to lesson.title, lesson_path(lesson) %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#verified"><h4>Ongoing Jobs (Verified): <%= @ongoing_lessons_verified.count %></h4></button>
      <div id="verified" class="collapse">
        <% @ongoing_lessons_verified.each do |lesson| %>
          <%= link_to lesson.title, lesson_path(lesson) %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#nottransferred"><h4 class="critical">Verified but bounty not transferred: <%= @ongoing_lessons_verified_but_not_transferred.count %></h4></button>
      <div id="nottransferred" class="collapse">
        <% @ongoing_lessons_verified_but_not_transferred.each do |lesson| %>
          <%= link_to lesson.title, lesson_path(lesson) %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#notreceived"><h4 class="critical">Awarded but bounty not received <%= @ongoing_lessons_awarded_but_not_received.count %></h4></button>
      <div id="notreceived" class="collapse">
        <% @ongoing_lessons_awarded_but_not_received.each do |lesson| %>
          <%= link_to lesson.title, lesson_path(lesson) %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#paidthrupaynow"><h4 class="critical">Paid thru PayNow <%= @ongoing_lessons_paid_thru_paynow.count %></h4></button>
      <div id="paidthrupaynow" class="collapse">
        <% @ongoing_lessons_paid_thru_paynow.each_with_index do |lesson,i| %>
          <%= link_to lesson.title, lesson_path(lesson) %>
          <p id="reference_tx_<%=i%>" class="reference_tx"><%= "#{lesson.organizer.contact_number}-#{lesson.token.to_s[10..13]}" %></p>
          <% @deduct_tx = Transaction.where(lesson_id: lesson.id).where(transaction_type: 7).first %>
          <% if lesson.deposit.present? %>
            <% @bounty = Rsvp.find(lesson.pending_awardee_id).bid + lesson.deposit %>
            <% @bounty = @bounty - @deduct_tx.amount if @deduct_tx.present? %>
          <% else %>
            <% @bounty = Rsvp.find(lesson.pending_awardee_id).bid %>
            <% @bounty = @bounty - @deduct_tx.amount if @deduct_tx.present? %>
          <% end %>
          <%= number_to_currency(@bounty) %><br>
          <%= form_for @transaction, :url => bounty_received_paynow_path(), :html => {class:"bounty_received_paynow"} do |f| %>
            <div class="col-xs-6 col-xs-offset-3">
              <%= f.text_field :bank_tx_id, class:"form-control", id:"bank_tx_id_#{i}" %>
            </div>
            <%= f.hidden_field :amount, value: @bounty %>
            <%= f.hidden_field :lesson_id, value: lesson.id %>
            <%= f.button "Done", class:"btn-done", data:{confirm:"Are you sure we have verified?"}%>
          <% end %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#cash_out_requests"><h4 class="critical">Cash Out Request <%= @cash_out_requests.count %></h4></button>
      <div id="cash_out_requests" class="collapse in">
        <% @cash_out_requests.each do |request| %>
          <% @user = request.wallet.user %>
          <%= @user.id %><br>
          <%= @user.first_name %> <%= @user.last_name %><br>
          <%= @user.contact_number %><br>
          <%= number_to_currency(request.amount) %><br>
          <%= form_for @transaction, :url => cash_out_path(:id => request.wallet_id) do |f| %>
            <%= f.hidden_field :amount, value: request.amount %>
            <%= f.hidden_field :cash_out_id, value: request.id %>
            <div class="col-xs-6 col-xs-offset-3">
              <%= f.text_field :bank_tx_id, class:"form-control" %>
            </div>
            <%= f.button "Done", class:"btn-done"%>
          <% end %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#express_paynow_not_checked_out"><h4 class="critical">Express PayNow Orders (Not Checkout) <%= @express_paynow_not_checked_out.count if @express_paynow_not_checked_out.present? %></h4></button>
      <div id="express_paynow_not_checked_out" class="collapse">
        <% if @express_paynow_not_checked_out.present? %>
          <% @express_paynow_not_checked_out.each do |orderitem| %>
            <% @user = orderitem.user %>
            <%= @user.first_name %><br><%= @user.email %><br>
            <%= orderitem.item.brand %><br>
            <%= orderitem.item.name %> X <%= orderitem.quantity %><br>
            <%= orderitem.created_at + 8.hours %><br><br><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#express_paynow_not_sent"><h4 class="critical">Express PayNow Orders (Email Not Sent) <%= @express_paynow_not_sent.count if @express_paynow_not_sent.present? %></h4></button>
      <div id="express_paynow_not_sent" class="collapse">
        <% if @express_paynow_not_sent.present? %>
          <% @express_paynow_not_sent.each do |orderitem| %>
            <% @user = orderitem.user %>
            <%= @user.first_name %><br><%= @user.email %><br><br>
            <%= orderitem.item.brand %><br>
            <%= orderitem.item.name %> X <%= orderitem.quantity %><br>
            <%= orderitem.created_at + 8.hours %><br><br>
            <%= form_for orderitem, :html => {class:"admin_order"} do |f| %>
              <%= f.hidden_field :reminder, value: 1 %>
              <%= f.button "Email Sent", class:"btn-done", data:{confirm:"Are you sure we have sent email?"}%>
            <% end %><br>
            <br><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#express_paynow_not_verified"><h4 class="critical">Express PayNow Orders (Not Verified) <%= @express_paynow_not_verified.count if @express_paynow_not_verified.present? %></h4></button>
      <div id="express_paynow_not_verified" class="collapse">
        <% if @express_paynow_not_verified.present? %>
          <% @express_paynow_not_verified.each do |order| %>
            <% @user = order.user %>
            <%= order.name %> <%= order.contact_no %><br><br>
            <% order.orderitems.each do |orderitem| %>
              <%= orderitem.item.name %> X <%= orderitem.quantity %><br>
            <% end %>
            <br><%= order.deliveryslot.date.strftime("%e %b %Y, %A") %>
            <br><%= order.deliveryslot.timeslot.slot %><br><br>
            <%= order.location.block_no %> <%= order.location.road_name %><br>
            <% if order.location.unit_no.present? %>
              #<%= order.location.unit_no %>
            <% end %>
            <% if order.location.building.present? %>
              <%= order.location.building %><br>
            <% end %>
            Singapore <%= order.location.postal %><br><br>
            <p id="express_tx_<%=order.id%>" class="express_tx"><%= @user.contact_number %>-E<%= @user.orders.index(order) + 1 %></p>
            <%= number_to_currency(order.amount) %>
            <%= form_for order, :html => {class:"admin_order"} do |f| %>
              <%= f.hidden_field :payment_received_datetime, value: DateTime.current %>
              <%= f.hidden_field :status, value: 1 %>
              <div class="col-xs-6 col-xs-offset-3">
                <%= f.text_field :payment_transferred_id, class:"form-control", id:"bank_express_tx_#{order.id}" %>
              </div>
              <%= f.button "Done", class:"btn-done", data:{confirm:"Are you sure we have verified?"}%>
            <% end %><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#express_paynow_not_purchased"><h4 class="critical">Express Orders (Not Purchased) <%= @express_paynow_not_purchased.count if @express_paynow_not_purchased.present? %></h4></button>
      <div id="express_paynow_not_purchased" class="collapse">
        <% if @express_paynow_not_purchased.present? %>
          <% @express_paynow_not_purchased.each do |order| %>
          <% @user = order.user %>
          <%= order.name %> <%= order.contact_no %><br><br>
          <% order.orderitems.each do |orderitem| %>
            <%= orderitem.item.name %> X <%= orderitem.quantity %><br>
          <% end %>
          <br><%= order.deliveryslot.date.strftime("%e %b %Y, %A") %>
          <br><%= order.deliveryslot.timeslot.slot %><br><br>
          <%= order.location.block_no %> <%= order.location.road_name %><br>
          <% if order.location.unit_no.present? %>
            #<%= order.location.unit_no %>
          <% end %>
          <% if order.location.building.present? %>
            <%= order.location.building %><br>
          <% end %>
          Singapore <%= order.location.postal %><br><br>
          <%= number_to_currency(order.amount) %><br><br>
            <%= form_for order, :html => {class:"admin_order_2"} do |f| %>
              <%= f.hidden_field :status, value: 4 %>
              <%= f.button "Refunded", class:"btn-refund", data:{confirm:"Are you sure we have refunded?"}%>
            <% end %>
            <%= form_for order, :html => {class:"admin_order_2"} do |f| %>
              <%= f.hidden_field :status, value: 2 %>
              <%= f.button "Purchased", class:"btn-done", data:{confirm:"Are you sure we have purchased?"}%><br><br><br>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <button class="admin_header" data-toggle="collapse" data-target="#express_paynow_not_delivered"><h4 class="critical">Express Orders (Not Delivered) <%= @express_paynow_not_delivered.count if @express_paynow_not_delivered.present? %></h4></button>
      <div id="express_paynow_not_delivered" class="collapse">
        <% if @express_paynow_not_delivered.present? %>
          <% @express_paynow_not_delivered.each do |order| %>
            <% @user = order.user %>
            <%= @user.id %><br>
            <%= order.name %><br>
            <%= order.contact_no %><br>
            <%= number_to_currency(order.amount) %><br><br>
            <% order.orderitems.each do |orderitem| %>
              <%= orderitem.item.name %> X <%= orderitem.quantity %><br>
            <% end %>
            <br><%= order.deliveryslot.date.strftime("%e %b %Y, %A") %>
            <br><%= order.deliveryslot.timeslot.slot %><br><br>
            <div class="order_header">
              Delivery Address:
            </div>
            <%= order.location.block_no %> <%= order.location.road_name %><br>
            <% if order.location.unit_no.present? %>
              #<%= order.location.unit_no %>
            <% end %>
            <% if order.location.building.present? %>
              <%= order.location.building %><br>
            <% end %>
            Singapore <%= order.location.postal %><br><br>
            <%= form_for order, :html => {class:"admin_order"} do |f| %>
              <%= f.hidden_field :payment_received_datetime, value: DateTime.current %>
              <%= f.hidden_field :status, value: 3 %>
              <%= f.button "Delivered", class:"btn-done", data:{confirm:"Are you sure we have delivered?"}%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.reference_tx').on('click', function(){
    var id = $(this).attr('id')
    var get_id = id.substring(13)
    var tx = $(this).text()
    $('#bank_tx_id_'+get_id).val(tx)
  })
  $('.express_tx').on('click', function(){
    var id = $(this).attr('id')
    var get_id = id.substring(11)
    var tx = $(this).text()
    $('#bank_express_tx_'+get_id).val(tx)
  })
</script>
