<div class="newjobwrapper">
  <h4 class="newjobtitle"><strong>Edit the Job</strong></h4>
  <%= form_for @lesson do |f| %>
  <%= f.hidden_field :timezone_offset %>
  <div class="create_new_hoote">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-7 col-md-offset-3 col-md-9 col-lg-offset-4 col-lg-8">
        <h5>I want it to be done by*</h5>
          <div class="row">
            <div class="col-xs-7 col-sm-5 col-md-4 col-lg-3">
              <%= f.text_field :date_completed, {id: "completed_date", class:"form-control input-lg form-control-v text-center date_picker completed_dt", autocomplete:"__away", placeholder: "Date", readonly: true, value:"#{f.object.date_completed.strftime('%d-%m-%Y')}"} %>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
              <%= f.time_select :datetime_completed, {minute_step: 5}, {id:"completed_datetime", class:"form-time completed_dt timepicker", value: @lesson.datetime_completed.strftime('%H:%M')} %>
            </div>
          </div>
          <span class="missinginfo missinginfo_time" id='missinginfo_comp'>We need to know when you need it to be done!</span>
          <span class="missinginfo missinginfo_time" id='completed_date_later'>Please change to a later date and time!</span>
        <h5>I'll close the bidding at*</h5>
          <div class="row">
            <div class="col-xs-7 col-sm-5 col-md-4 col-lg-3">
              <%= f.text_field :date_awarded, {id: "awarded_date", class:"form-control input-lg form-control-v text-center date_picker awarded_dt", autocomplete:"__away", placeholder: "Date", readonly: true, value:"#{f.object.date_awarded.strftime('%d-%m-%Y')}"} %>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
              <%= f.time_select :datetime_awarded, {minute_step: 5}, {id:"awarded_datetime", class:"form-time text-center completed_dt timepicker", value: @lesson.datetime_awarded.strftime('%H:%M')} %>
            </div>
          </div>
          <span class="missinginfo missinginfo_time" id='missinginfo_awar'>We need to know when will the bid be closed!</span>
          <span class="missinginfo missinginfo_time" id='close_bid_date'>Bid must be closed before you want it to be done by!</span>
          <span class="missinginfo missinginfo_time" id='awarded_date_later'>Please change to a later date and time!</span>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
              <h5>Categories*</h5>
              <div class="categories_checkboxes form-control-v" id="cate">
                <%= f.collection_check_boxes :tag, Category.all, :id, :name, {include_hidden: false}, {multiple: true, class: "category" } do |b| %>
                  <%= b.label do %>
                    <%= b.check_box %>
                    <%= b.text %>
                    <span class="cat_checkboxes"></span>
                  <% end %>
                <% end %>
                <%= hidden_field_tag 'categories_db', @lesson.tag %>
              </div>
            </div>
          </div>
          <span class="missinginfo" id="missinginfo_cate">We need to know what categories it falls under!</span>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
              <h5>Title*</h5>
              <%= f.text_field :title, {id:"title", class:"form-control input-lg form-control-v", autocomplete:"__away", maxlength: 37} %>
            </div>
          </div>
          <span class="missinginfo" id="missinginfo_titl">We need to know what is the title!</span>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
              <h5 id="description_title">Description*</h5>
              <%= f.text_area :description, {id:"description", class:"form-control form-control-v", rows: 8, autocomplete:"__away", maxlength: 1000} %>
              <div class="tooltip_url_desc">You can indicate Brand, Type/Model, Size, Quantity, Country of Manufacture, Price Range and Delivery Method.</div>
            </div>
          </div>
          <span class="missinginfo" id="missinginfo_desc">We need to know what is it about!</span>
          <h5>Bounty Type*</h5>
          <div class="row relative text-center">
            <div class="bounty_type_info_icon">(What's this?)</div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
              <div class="bounty_type_info_wrapper">
                <div class="bounty_only_info">
                  <div class="bounty_only_info_top">
                    For<br>
                    Unknown Prices
                  </div>
                </div>
                <div class="bounty_w_deposit_info">
                  <div class="bounty_only_info_top">
                    For<br>
                    High Value Items
                  </div>
                </div>
                <div class="full_sum_info">
                  <div class="bounty_only_info_popular">
                    Most Popular!
                  </div>
                  <div class="bounty_only_info_top">
                    For<br>
                    Convenience
                  </div>
                </div>
                <div class="bounty_only_info_bottom">
                  <div class="bounty_only_info_sub">
                    <div class="bounty_only_header">
                      &#9656; Bounty
                    </div>
                    <br>money paid to your Shopper for his hardwork after the job is done!
                  </div>
                  <div class="bounty_only_info_sub">
                    <div class="bounty_only_header">
                      &#9656; Deposit
                    </div>
                    <br>gives assurance to your Shopper to buy high value items!
                  </div>
                  <div class="bounty_only_info_sub">
                    <div class="bounty_only_header">
                      &#9656; Full Sum
                    </div>
                    <br>hassle-free way of getting your items purchased!
                    <br>No cumbersome reimbursement required!
                  </div>
                </div>
              </div>
              <div class="form-control-v bounty_type_wrapper">
                  <%= f.collection_radio_buttons :bounty_type, Bountytype.all, :id, :name, {}, {class: "bountytype"} do |b| %>
                  <div class="bounty_type text-center">
                    <%= b.radio_button %>
                      <%= b.label do %>
                      <h5><%= b.text %></h5>
                      <p>
                        <%= ("I'll reimburse the cost of items after job is done.<br><br><br>One step at a time.").html_safe if b.text == "Bounty Only" %>
                        <%= ("I'll put a deposit and reimburse the cost of items after job is done.<br><br>Fret Not!").html_safe if b.text == "Bounty with Deposit" %>
                        <%= ("I'll commit a full sum of bounty and item cost.<br><br><br><br>Keep the change!").html_safe if b.text == "Full Sum" %>
                      </p>
                    <% end %>
                  </div>
                  <% end %>
              </div>
            </div>
          </div>
        <h5>I'm willing to pay*</h5>
        <div class="row bounty_type_amount_wrapper">
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 bounty_type_amount">
            <%= f.number_field :bounty, {id: "bounty", class:"form-control input-lg form-control-v text-center", autocomplete:"__away", placeholder:"Bounty", value: number_with_precision(f.object.bounty, :precision => 2)} %>
            <label for="bounty" class="static-value">$</label>
            <label for="bounty" class="static-value-sgd">SGD</label>
            <% if @lesson.deposit.present? %>
              <%= f.number_field :deposit, {id: "deposit", class:"form-control input-lg form-control-v text-center", autocomplete:"__away", placeholder:"Deposit", value: number_with_precision(f.object.deposit, :precision => 2)} %>
              <label for="deposit" class="static-value-2">$</label>
            <% end %>
          </div>
        </div>
        <%= hidden_field_tag 'bounty_db', @lesson.bounty %>
        <%= hidden_field_tag 'deposit_db', @lesson.deposit %>
        <span class="missinginfo" id='missinginfo_boun'>We need to know what is the amount!</span>
        <span class="missinginfo" id='missinginfo_depo'>We need to know what is the amount!</span>
        <div class="row">
          <div class="col-xs-12">
            <h5 class="require_travelling">Addresses (Optional)<br>(e.g. Delivery or Shop address)</h5>
            <% if @lesson.locations.present? %>
              <%= render partial: 'add_location_fields_edit_default', locals: {f: f} %>
            <% end %>
            <div class="row">
              <div class="col-xs-12">
                <div class="require_travelling_wrapper">
                  <%= button_tag "Add an Address", class:"btn-add-location", type:"button" %>
                  <div class="btn-address-s btn-address-words">Is it a</div>
                  <%= button_tag "Local", class:"btn-address btn-address-words", type:"button", id:"toggle-on" %>
                  <div class="btn-address-s btn-address-words">or</div>
                  <%= button_tag "Foreign", class:"btn-address btn-address-words", type:"button", id:"toggle-on-non" %>
                  <div class="btn-address-s btn-address-words">address?</div>
                </div>
                <%= button_tag "Add another Address", class:"btn-add-another-location", type:"button" %>
                <div class="btn-address-s-another btn-address-words-another">Is it a</div>
                <%= button_tag "Local", class:"btn-address-another", type:"button", id:"add_location" %>
                <div class="btn-address-s-another btn-address-words-another">or</div>
                <%= button_tag "Foreign", class:"btn-address-another btn-address-another-non", type:"button", id:"add_location_non" %>
                <div class="btn-address-s-another btn-address-words-another">address?</div>
              </div>
            </div>
          </div>
        </div>
        <h5>Images (Optional)</h5>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <div class="partner_photos_preview text-center">
              <% if f.object.photos.any? %>
                <% f.object.photos.each do |photo| %>
                <div class='photo_wrapper'>
                  <%= image_tag(photo.image.url, size: "95x95", :class => "img_partner_photos", :id => "partner_photos_#{photo.id}") %>
                  <button name='button' type='button' class='btn-default image_remove_button'>×</button>
                </div>
                <% end %>
              <% end %>
            </div>
            <div class="btn btn-default fileinput-button"><div id="partner_photo_upload_button">Upload photos to provide more details</div><%= f.file_field :job_photo, {id:"partner_photos", class:"form-control-photo", :multiple => true} %></div>
          </div>
        </div>
        <h5>Please contact me at</h5>
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            <%= f.label :mobile_number, id:"contact_number" %>
            <%= f.number_field :contact_no, {id: "contact_no", class:"form-control input-lg form-control-v text-center", autocomplete:"__away", placeholder:"", value: f.object.contact_no} %>
            <label for="contact_no" class="static-value-contact">+65</label>
          </div>
        </div>
        <span class="missinginfo" id="missinginfo_cont">We need your contact number!</span>
        <div class="col-xs-12 footer_white_space"></div>
        <% end %>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <br><%= button_tag 'Change', :class=>"btn btn-default btn-lg create_event", type:"button"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loading_wrapper">
  <div class="loading">
    Editing job, please hold on!
    <%= image_tag("loader.gif", id:"loader3") %>
  </div>
</div>


<script>

// Datepicker

var nowDate = new Date();
var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0)
$('#completed_date, #awarded_date').datepicker({
    format: 'dd-mm-yyyy',
    autoclose: true,
    startDate: today
});

// Form Validation

function validity(e){
  $('.form-control , .categories_checkboxes').not('.unit_no').not('.location_name').not('.building_name').not('.postal_code').each(function(){
    if ($(this).hasClass('categories_checkboxes')){
      var input = $(".categories_checkboxes input[type='checkbox']:checked").length
      if(input){
        $(".categories_checkboxes").removeClass("empty").addClass("not_empty");
        $(".categories_checkboxes").css('border', '1px solid #ccc')
      }else{
        $(".categories_checkboxes").removeClass("not_empty").addClass("empty");
        $(".categories_checkboxes").css('border', '1px solid #DC4C46')
      }
      if ($(".categories_checkboxes").hasClass("not_empty")){
        $('#missinginfo_cate').css('display', 'none')
      }
      if ($(".categories_checkboxes").hasClass("empty")){
        $('#missinginfo_cate').css('display', 'block')
      }
    }else if($(this).attr('id') == 'contact_no'){
      var input = $(this).val().length
      var get_id = $(this).attr("id")
      var missingkey = get_id.slice(0,4)
      if (input > 7){
        $(this).removeClass("empty").addClass("not_empty")
        $(this).css('border', '1px solid #23B3B9')
      }else{
        $(this).removeClass("not_empty").addClass("empty");
        $(this).css('border', '1px solid #DC4C46')
      }
      if ($(this).hasClass("not_empty")){
        if ($(this).hasClass(".form-control-v")){
          if ($(this).hasClass("block_road")){
            var id = $(this).parent().parent().parent().attr('class').substring(22)
            $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'none')
          }else{
            $('#missinginfo_'+missingkey).css('display', 'none')
          }
        }
      }
      else{
        if ($(this).hasClass("form-control-v")){
          if ($(this).hasClass("block_road")){
            var id = $(this).parent().parent().parent().attr('class').substring(22)
            $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'block')
          }else{
            $('#missinginfo_'+missingkey).css('display', 'block')
          }
        }
      }
    }
    else{
      var input = $(this).val()
      var get_id = $(this).attr("id")
      var missingkey = get_id.slice(0,4)
      if (input){
        $(this).removeClass("empty").addClass("not_empty")
        $(this).css('border', '1px solid #23B3B9')
      }else{
        $(this).removeClass("not_empty").addClass("empty");
        $(this).css('border', '1px solid #DC4C46')
      }
      if ($(this).hasClass("not_empty")){
        if ($(this).hasClass(".form-control-v")){
          if ($(this).hasClass("block_road")){
            var id = $(this).parent().parent().parent().attr('class').substring(22)
            $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'none')
          }else{
            $('#missinginfo_'+missingkey).css('display', 'none')
          }
        }
      }
      else{
        if ($(this).hasClass("form-control-v")){
          if ($(this).hasClass("block_road")){
            var id = $(this).parent().parent().parent().attr('class').substring(22)
            $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'block')
          }else{
            $('#missinginfo_'+missingkey).css('display', 'block')
          }
        }
      }
    }
  })
  if ($('#awarded_date').val() && $('#completed_date').val() ){
    var awarded_date_array = $('#awarded_date').val().split("-")
    var completed_date_array = $('#completed_date').val().split("-")
    var awarded_date = new Date(awarded_date_array[2], awarded_date_array[1] - 1, awarded_date_array[0], $("[name='lesson[datetime_awarded(4i)]']").val(), $("[name='lesson[datetime_awarded(5i)]']").val())
    var completed_date = new Date(completed_date_array[2], completed_date_array[1] - 1, completed_date_array[0], $("[name='lesson[datetime_completed(4i)]']").val(), $("[name='lesson[datetime_completed(5i)]']").val())
    var datetimenow = new Date()
    if (completed_date < datetimenow){
      $('.completed_dt').removeClass("not_empty").addClass("empty")
      $('.completed_dt').css('border', '1px solid #DC4C46')
      $('#completed_date_later').css('display', 'block')
    }else{
      $('.completed_dt').removeClass("empty").addClass("not_empty")
      $('.completed_dt').css('border', '1px solid #23B3B9')
      $('#completed_date_later').css('display', 'none')
    }
    if (awarded_date < datetimenow){
      $('.awarded_dt').removeClass("not_empty").addClass("empty")
      $('.awarded_dt').css('border', '1px solid #DC4C46')
      $('#close_bid_date').css('display', 'none')
      $('#awarded_date_later').css('display', 'block')
    }else{
      $('.awarded_dt').removeClass("empty").addClass("not_empty")
      $('.awarded_dt').css('border', '1px solid #23B3B9')
      $('#awarded_date_later').css('display', 'none')
      if(awarded_date >= completed_date){
        $('.awarded_dt').removeClass("not_empty").addClass("empty")
        $('.awarded_dt').css('border', '1px solid #DC4C46')
        if ($('#awarded_date_later').css('display') == 'none'){
          $('#close_bid_date').css('display', 'block')
        }
      }else{
        $('.awarded_dt').removeClass("empty").addClass("not_empty")
        $('.awarded_dt').css('border', '1px solid #23B3B9')
        $('#close_bid_date').css('display', 'none')
      }
    }
  }
  check_form_control(e)
}

function check_form_control(e){
  var number_of_location = $('.locationform').length
  var number_for_deposit = $('#deposit').length
  var number_of_not_empty = 7 + (number_of_location * 2) + number_for_deposit
  var get_id = $('.edit_lesson').attr('id').substr(12)
  if($(".form-control-v").filter(".not_empty").length >= number_of_not_empty){
    e.preventDefault();
    var formdata = new FormData()
    var other_data = $('.edit_lesson').serializeArray();
    $.each(other_data,function(key,input){
      formdata.append(input.name,input.value);
    });
    $.each($partner_images, function(i){
      formdata.append('lesson[job_photo][]',$partner_images[i])
    })
    $('.mainnav').hide()
    $('.loading_wrapper').show()
    $.ajax({
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: "/lessons/"+get_id,
      enctype: 'multipart/form-data',
      data: formdata,
      cache: false,
      contentType: false,
      processData: false,
      type: 'PUT'
    });
  }else{
    e.preventDefault();
    $('.form-control-v').filter('.empty').not('.awarded_dt').not('.completed_dt').first().focus()
    if($('.form-control-v').filter('.empty').first().attr('id') == 'awarded_date'){
      $('html, body').animate({
            scrollTop: $(".newjobtitle").offset().top
        }, 1000);
    }
    if($('.form-control-v').filter('.empty').first().attr('id') == 'completed_date'){
      $('html, body').animate({
            scrollTop: $(".newjobtitle").offset().top
        }, 1000);
    }
    if($('.form-control-v').filter('.empty').first().attr('id') == 'description'){
      $('html, body').animate({
            scrollTop: $("#title").offset().top
        }, 1000);
    }
    if($('.form-control-v').filter('.empty').first().attr('id') == 'cate'){
      $('html, body').animate({
            scrollTop: $("#awarded_date").offset().top
        }, 1000);
    }
  }
}

$('.create_event').on('click', function(e){
  validity(e)
})

$(".create_new_hoote").on("input change", ".form-control",function(e){
  var input = $(this).val()
  var get_id = $(this).attr("id")
  var missingkey = get_id.slice(0,4)
  if (get_id == 'contact_no'){
    if (input.length > 7) {
      $(this).removeClass("empty").addClass("not_empty");
      $(this).css('border', '1px solid #23B3B9')
    }else{
      $(this).removeClass("not_empty").addClass("empty");
      $(this).css('border', '1px solid #DC4C46')
    }
  }else{
    if (input) {
      if ($(this).hasClass("form-control-v")){
        $(this).removeClass("empty").addClass("not_empty");
        $(this).css('border', '1px solid #23B3B9')
      }
    }else{
      if ($(this).hasClass("form-control-v")){
        $(this).removeClass("not_empty").addClass("empty");
        $(this).css('border', '1px solid #DC4C46')
      }
    }
  }
  if ($(this).hasClass("not_empty")){
    if ($(this).hasClass("form-control-v")){
      if ($(this).hasClass("block_road")){
        var id = $(this).parent().parent().parent().attr('class').substring(22)
        $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'none')
      }else{
        $('#missinginfo_'+missingkey).css('display', 'none')
      }
    }
  }
  if ($(this).hasClass("empty")){
    if ($(this).hasClass("form-control-v")){
      if ($(this).hasClass("block_road")){
        var id = $(this).parent().parent().parent().attr('class').substring(22)
        $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'block')
      }else{
        $('#missinginfo_'+missingkey).css('display', 'block')
      }
    }
  }
  if($(this).hasClass("block_road")){
    if($('.location_'+id+' .block_road').filter(".empty").length > 0){
      $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'block')
    }else{
      $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'none')
    }
  }
});

$(".category").on('click', function(){
  var input = $(".categories_checkboxes input[type='checkbox']:checked").length
  if(input > 0){
    $(".categories_checkboxes").removeClass("empty").addClass("not_empty");
    $(".categories_checkboxes").css('border', '1px solid #ccc')
  }else{
    $(".categories_checkboxes").removeClass("not_empty").addClass("empty");
    $(".categories_checkboxes").css('border', '1px solid #DC4C46')
  }
  if ($(".categories_checkboxes").hasClass("not_empty")){
    $('#missinginfo_cate').css('display', 'none')
  }
  if ($(".categories_checkboxes").hasClass("empty")){
    $('#missinginfo_cate').css('display', 'block')
  }
})

$('.completed_dt, .awarded_dt').on('focus', function(){
  $('.category').css('overflow-y', 'hidden')
})

$('.completed_dt, .awarded_dt').focusout(function(){
  $('.category').css('overflow-y', 'auto')
})

$(".date_picker").on("change",function(e){
  var input = $(this).val()
  var get_id = $(this).attr("id")
  var missingkey = get_id.slice(0,4)
  var awarded_date
  var completed_date
  if (input) {
    $(this).removeClass("empty").addClass("not_empty");
    $(this).css('border', '1px solid #23B3B9')
    if ($('#awarded_date').val() && $('#completed_date').val() ){
      if ($('#awarded_datetime').val() ){
        var awarded_date_array = $('#awarded_date').val().split("-")
        var completed_date_array = $('#completed_date').val().split("-")
        var awarded_date = new Date(awarded_date_array[2], awarded_date_array[1] - 1, awarded_date_array[0], $("[name='lesson[datetime_awarded(4i)]']").val(), $("[name='lesson[datetime_awarded(5i)]']").val())
        var completed_date = new Date(completed_date_array[2], completed_date_array[1] - 1, completed_date_array[0], $("[name='lesson[datetime_completed(4i)]']").val(), $("[name='lesson[datetime_completed(5i)]']").val())
        var datetimenow = new Date()
        if (completed_date < datetimenow){
          $('.completed_dt').removeClass("not_empty").addClass("empty")
          $('.completed_dt').css('border', '1px solid #DC4C46')
          $('#completed_date_later').css('display', 'block')
        }else{
          $('.completed_dt').removeClass("empty").addClass("not_empty")
          $('.completed_dt').css('border', '1px solid #23B3B9')
          $('#completed_date_later').css('display', 'none')
        }
        if (awarded_date < datetimenow){
          $('.awarded_dt').removeClass("not_empty").addClass("empty")
          $('.awarded_dt').css('border', '1px solid #DC4C46')
          $('#close_bid_date').css('display', 'none')
          $('#awarded_date_later').css('display', 'block')
        }else{
          $('.awarded_dt').removeClass("empty").addClass("not_empty")
          $('.awarded_dt').css('border', '1px solid #23B3B9')
          $('#awarded_date_later').css('display', 'none')
          if(awarded_date >= completed_date){
            $('.awarded_dt').removeClass("not_empty").addClass("empty")
            $('.awarded_dt').css('border', '1px solid #DC4C46')
            if ($('#awarded_date_later').css('display') == 'none'){
              $('#close_bid_date').css('display', 'block')
            }
          }else{
            $('.awarded_dt').removeClass("empty").addClass("not_empty")
            $('.awarded_dt').css('border', '1px solid #23B3B9')
            $('#close_bid_date').css('display', 'none')
          }
        }
      }else{
        var awarded_date_array = $('#awarded_date').val().split("-")
        var completed_date_array = $('#completed_date').val().split("-")
        awarded_date = new Date(awarded_date_array[2], awarded_date_array[1] - 1, awarded_date_array[0])
        completed_date = new Date(completed_date_array[2], completed_date_array[1] - 1, completed_date_array[0])
        if(awarded_date > completed_date){
          $('#awarded_date').removeClass("not_empty").addClass("empty")
          $('#awarded_date').css('border', '1px solid #DC4C46')
          $('#close_bid_date').css('display', 'block')
        }else{
          $('#awarded_date').removeClass("empty").addClass("not_empty")
          $('#awarded_date').css('border', '1px solid #23B3B9')
          $('#close_bid_date').css('display', 'none')
        }
      }
    }
  }else{
    $(this).removeClass("not_empty").addClass("empty");
    $(this).css('border', '1px solid #DC4C46')
    if($(this).hasClass("completed_dt")){
      if($('.completed_dt').filter(".empty").length > 0){
        $('#missinginfo_'+missingkey).css('display', 'block')
      }else{
        $('#missinginfo_'+missingkey).css('display', 'none')
      }
    }
    if($(this).hasClass("awarded_dt")){
      if($('.awarded_dt').filter(".empty").length > 0){
        $('#missinginfo_'+missingkey).css('display', 'block')
      }else{
        $('#missinginfo_'+missingkey).css('display', 'none')
      }
    }
  }
});

$('.timepicker').on('change', function(e){
  var input = $(this).val()
  var input_length = input.length
  var get_id = $(this).attr("id")
  var missingkey = get_id.slice(0,4)
  if(input_length > 0){
    $(this).removeClass("empty").addClass("not_empty");
    $(this).css('border', '1px solid #23B3B9')
    if ($('#awarded_date').val() && $('#completed_date').val() ){
      var awarded_date_array = $('#awarded_date').val().split("-")
      var completed_date_array = $('#completed_date').val().split("-")
      var awarded_date = new Date(awarded_date_array[2], awarded_date_array[1] - 1, awarded_date_array[0], $("[name='lesson[datetime_awarded(4i)]']").val(), $("[name='lesson[datetime_awarded(5i)]']").val())
      var completed_date = new Date(completed_date_array[2], completed_date_array[1] - 1, completed_date_array[0], $("[name='lesson[datetime_completed(4i)]']").val(), $("[name='lesson[datetime_completed(5i)]']").val())
      var datetimenow = new Date()
      if (completed_date < datetimenow){
        $('.completed_dt').removeClass("not_empty").addClass("empty")
        $('.completed_dt').css('border', '1px solid #DC4C46')
        $('#completed_date_later').css('display', 'block')
      }else{
        $('.completed_dt').removeClass("empty").addClass("not_empty")
        $('.completed_dt').css('border', '1px solid #23B3B9')
        $('#completed_date_later').css('display', 'none')
      }
      if (awarded_date < datetimenow){
        $('.awarded_dt').removeClass("not_empty").addClass("empty")
        $('.awarded_dt').css('border', '1px solid #DC4C46')
        $('#close_bid_date').css('display', 'none')
        $('#awarded_date_later').css('display', 'block')
      }else{
        $('.awarded_dt').removeClass("empty").addClass("not_empty")
        $('.awarded_dt').css('border', '1px solid #23B3B9')
        $('#awarded_date_later').css('display', 'none')
        if(awarded_date >= completed_date){
          $('.awarded_dt').removeClass("not_empty").addClass("empty")
          $('.awarded_dt').css('border', '1px solid #DC4C46')
          if ($('#awarded_date_later').css('display') == 'none'){
            $('#close_bid_date').css('display', 'block')
          }
        }else{
          $('.awarded_dt').removeClass("empty").addClass("not_empty")
          $('.awarded_dt').css('border', '1px solid #23B3B9')
          $('#close_bid_date').css('display', 'none')
        }
      }
    }
  }else{
    $(this).removeClass("not_empty").addClass("empty");
    $(this).css('border', '1px solid #DC4C46')
    if($(this).hasClass("completed_dt")){
      if($('.completed_dt').filter(".empty").length > 0){
        $('#missinginfo_'+missingkey).css('display', 'block')
      }else{
        $('#missinginfo_'+missingkey).css('display', 'none')
      }
    }
    if($(this).hasClass("awarded_dt")){
      if($('.awarded_dt').filter(".empty").length > 0){
        $('#missinginfo_'+missingkey).css('display', 'block')
      }else{
        $('#missinginfo_'+missingkey).css('display', 'none')
      }
    }
  }
  //console.log(e.value);
  //console.log(e.time);
});

// Time Picker
$(document).ready(function(e){
  timezone_offset()
  add_suggest_nav()
  change_location_no()
  $partner_images = []
  var tag = $('#categories_db').val().split(' ')
  $.each(tag, function(index, value){
    $(".categories_checkboxes input[value="+value+"]").prop('checked', true)
  })
  if($('.locationform').length > 0){
    $(".btn-add-another-location").show()
    $(".btn-add-location").hide()
  }
});

//Timezone offset

function timezone_offset(){
  var rightNow = new Date();
  var jan1 = new Date(rightNow.getFullYear(), 0, 1, 0, 0, 0, 0);
  var temp = jan1.toGMTString();
  var jan2 = new Date(temp.substring(0, temp.lastIndexOf(" ")-1));
  var std_time_offset = (jan1 - jan2) / (1000 * 60 * 60);
  $('#lesson_timezone_offset').val(std_time_offset)
}

//Multiple dropdown selection

$(".category").mousedown(function(e){
    e.preventDefault();

		var select = this;
    var scroll = select.scrollTop;

    e.target.selected = !e.target.selected;

    setTimeout(function(){select.scrollTop = scroll;}, 0);

    $(select).focus();
}).mousemove(function(e){e.preventDefault()});

//Onemap Search location
var address_json = []

$('.create_new_hoote').on('click input', '.postal_code', function(e){
  address_json = []
  var postal_code = e.target.value
  var index = e.target.id.slice(-1)
  if(postal_code.length > 0){
    //var proceed_to_populate = new Promise(function(resolve){
      $.ajax({
        url: "https://developers.onemap.sg/commonapi/search?searchVal=" + postal_code + "&returnGeom=N&getAddrDetails=Y&pageNum=1",
      })
    .then(function(result){
      address_json.push(result.results)
      if(address_json[0].length == 10){
        address_json[0].splice(-1,1)
      }
      $('.location_'+ index +' .autocomplete').empty()
      $('.location_'+ index +' .autocomplete').css('display', 'block')
      for (i = 0; i < address_json[0].length; i++) {
        $('.location_'+ index +' .autocomplete').append("<div class='suggestion' id='s" + index + i + "'>" + result.results[i].ADDRESS + "</div>")
      }
    })
  }
})

function add_suggest_nav(){
  var j
  $('.create_new_hoote').on('click', '.postal_code', function(e){
    var index = e.target.id.slice(-1)
    j = -1
  })
  $('.create_new_hoote').on('input', '.postal_code', function(e){
    j = -1
  })
  $(".create_new_hoote").on("keydown", '.postal_code', function(e){
    var index = e.target.id.slice(-1)
    if (address_json[0]){
      var length = address_json[0].length - 1
    }
    if (e.keyCode == 27){
      $('.location_'+ index +' .autocomplete').css('display', 'none')
    }
    if (e.keyCode == 40){
      if(j == length){
        $('#s'+index+j).css('background-color', 'white')
        j = 0
      }else{
        j++
      }
      if(j > 0){
        var k = j - 1
        $('#s'+index+k).css('background-color', 'white')
      }
      $('#s'+index+j).css('background-color', '#d3eff1')
    }
    if (e.keyCode == 38){
      if(j <= 0){
        $('#s'+index+'0').css('background-color', 'white')
        $('#s'+index+length).css('background-color', '#d3eff1')
        j = length
      }else{
        j--
      }
      if(j < length ){
        var k = j + 1
        $('#s'+index+k).css('background-color', 'white')
      }
      $('#s'+index+j).css('background-color', '#d3eff1')
    }
    if(e.keyCode == 13){
      if(j > -1){
        e.preventDefault()
        $('.location_'+ index +' #add_road').val(address_json[0][j].ROAD_NAME)
        $('.location_'+ index +' #name').val(address_json[0][j].BUILDING)
        $('.location_'+ index +' #add_number').val(address_json[0][j].BLK_NO)
        $('.location_'+ index +' .postal_code').val(address_json[0][j].POSTAL)
        $('.location_'+ index +' .autocomplete').css('display', 'none')
        $('.location_'+ index +' #unit_no').focus()
        $.each($('.location_'+ index +' :text'), function(){
          var input = $(this).val()
          var get_id = $(this).attr("id")
          var missingkey = get_id.slice(0,4)
          if (input) {
            $(this).removeClass("empty").addClass("not_empty");
            $(this).css('border', '1px solid #23B3B9')
          }else{
            $(this).removeClass("not_empty").addClass("empty");
            $(this).css('border', '1px solid #DC4C46')
          }
          if ($(this).hasClass("not_empty")){
            if ($(this).hasClass("form-control-v")){
              $('.location_'+index+' #missinginfo_'+missingkey).css('display', 'none')
            }
          }
          if ($(this).hasClass("empty")){
            if ($(this).hasClass("form-control-v")){
              $('.location_'+index+' #missinginfo_'+missingkey).css('display', 'block')
            }
          }
          if($(this).hasClass("block_road")){
            if($('.location_'+index+' .block_road').filter(".empty").length > 0){
              $('.location_'+index+' #missinginfo_'+missingkey).css('display', 'block')
            }else{
              $('.location_'+index+' #missinginfo_'+missingkey).css('display', 'none')
            }
          }
        })
      }
    }
  })
}

$(document).on('click', function(e){
  var index = e.target.id.slice(-1)
  var id = e.target.id.substr(1,1)
  if ($(e.target).hasClass('postal_code') ) {
    if($('.location_'+ index +' .autocomplete .suggestion').length > 0){
      $('.location_'+ index +' .autocomplete').css('display', 'block')
    }
  }else{
    $('.autocomplete').empty()
    $('.autocomplete').css('display', 'none')
  }
})

$('.create_new_hoote').on('click', ".suggestion", function(e){
  var id = $(e.target).attr('id').substr(1,1)
  var index = $(e.target).attr('id').slice(-1)
  var postal_code = $('#postal_'+id).val()
  if(postal_code.length > 0){
    $.ajax({
      url: "https://developers.onemap.sg/commonapi/search?searchVal=" + postal_code + "&returnGeom=N&getAddrDetails=Y&pageNum=1",
      success: function(result){
      }
    })
    .then(function(result){
      address_json.push(result.results)
      if(address_json[0].length == 10){
        address_json[0].splice(-1,1)
      }
    })
  }
  if (address_json.length > 0){
    if (address_json[0][index].ROAD_NAME != "NIL"){
      $('.location_'+ id +' #add_road').val(address_json[0][index].ROAD_NAME)

    }else{
      $('.location_'+ id +' #add_road').val("")
    }

    if (address_json[0][index].BUILDING != "NIL"){
      $('.location_'+ id +' #name').val(address_json[0][index].BUILDING)
    }else{
      $('.location_'+ id +' #name').val("")
    }

    if (address_json[0][index].BLK_NO != "NIL"){
      $('.location_'+ id +' #add_number').val(address_json[0][index].BLK_NO)
    }else{
      $('.location_'+ id +' #add_number').val("")
    }

    if (address_json[0][index].POSTAL != "NIL"){
      $('#postal_'+id).val(address_json[0][index].POSTAL)
      $('#postal_'+id).css('border', '1px solid #23B3B9')
      $('.location_'+ id +' #unit_no').focus()
    }else{
      $('.location_'+ id +' #postal_'+id).val("")
    }
    $.each($('.location_'+ id +" :text").not('#unit_no').not('.location_name').not('.building_name'), function(){
      var input = $(this).val()
      var get_id = $(this).attr("id")
      var missingkey = get_id.slice(0,4)
      if (input) {
        $(this).removeClass("empty").addClass("not_empty");
        $(this).css('border', '1px solid #23B3B9')
      }else{
        $(this).removeClass("not_empty").addClass("empty");
        $(this).css('border', '1px solid #DC4C46')
      }
      if($(this).hasClass("block_road")){
        if($('.location_'+id+' .block_road').filter(".empty").length > 0){
          $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'block')
        }else{
          $('.location_'+id+' #missinginfo_'+missingkey).css('display', 'none')
        }
      }else{
        if ($(this).hasClass("not_empty")){
          if ($(this).hasClass("form-control-v")){
            $('#missinginfo_'+missingkey).css('display', 'none')
          }
        }
        if ($(this).hasClass("empty")){
          if ($(this).hasClass("form-control-v")){
            $('#missinginfo_'+missingkey).css('display', 'block')
          }
        }
      }
    })
  }

})

$("#toggle-on").on("click", function(event) {
  $(".require_travelling_wrapper").hide()
  $(".btn-add-another-location").show()
  var number = 0
  $.ajax({
    url: '/lessons/add_location',
    success: function(){
      $.each($(".locationform"), function(index, value){
        $(this).removeClass (function (index, className) {
          return (className.match (/(^|\s)location_\S+/g) || []).join(' ');
        }).addClass("location_"+index);
        $(this).find($(".postal_code")).attr("id", "postal_"+index)
      });
      $.each($(".location_number"), function(index, value){
        number = index + 1
        $(this).text("Location "+ number)
      });
    }
  });
})

$("#toggle-on-non").on("click", function(event) {
  $(".require_travelling_wrapper").hide()
  $(".btn-add-another-location").show()
  var number = 0
  $.ajax({
    url: '/lessons/add_location_non',
    success: function(){
      $.each($(".locationform"), function(index, value){
        $(this).removeClass (function (index, className) {
          return (className.match (/(^|\s)location_\S+/g) || []).join(' ');
        }).addClass("location_"+index);
        $(this).find($(".postal_code")).attr("id", "postal_"+index)
      });
      $.each($(".location_number"), function(index, value){
        number = index + 1
        $(this).text("Location "+ number)
      });
    }
  });
  var id = $('.locationform').length - 1
  $('.location_'+id+' #add_number').focus()
})

//Remove Location

$(".create_new_hoote").on("click", ".remove_location", function() {
  $(this).parent().parent().parent().next("input").remove()
  $(this).parent().parent().parent().remove();
  $.each($(".locationform"), function(index, value){
    $(this).removeClass (function (index, className) {
      return (className.match (/(^|\s)location_\S+/g) || []).join(' ');
    }).addClass("location_"+index);
  });
  $.each($(".postal_code"), function(index, value){
    $(this).removeClass (function (index, className) {
      return (className.match (/(^|\s)postal_code\S+/g) || []).join(' ');
    }).attr("id", "postal_"+index);
  });
  $.each($(".location_number"), function(index, value){
    number = index + 1
    $(this).text("Location "+ number)
  });
  if($('.locationform').length == 0){
    $(".btn-address-another").hide()
    $(".btn-add-another-location").hide()
    $(".require_travelling_wrapper").show()
    $(".btn-address-words").hide()
    $(".btn-add-location").show()
  }
});

//Add Location

$("#add_location").on("click", function(event) {
  var number = 0
  $.ajax({
    url: '/lessons/add_location_edit',
    success: function(){
      $.each($(".locationform"), function(index, value){
        $(this).removeClass (function (index, className) {
          return (className.match (/(^|\s)location_\S+/g) || []).join(' ');
        }).addClass("location_"+index);
        $(this).find($(".postal_code")).attr("id", "postal_"+index)
      });
      $.each($(".location_number"), function(index, value){
        number = index + 1
        $(this).text("Location "+ number)
      });
      var id = $('.locationform').length - 1
      $('.location_'+id+' .postal_code').focus()
      $.each($('.location_'+id+' [name^="lesson[locations_attributes][0]"]'),function(){
        var name = $(this).attr('name').replace(/\d+/g, id)
        $(this).attr('name', name)
      })
    }
  });
})

$("#add_location_non").on("click", function(event) {
  var number = 0
  $.ajax({
    url: '/lessons/add_location_edit_non',
    success: function(){
      $.each($(".locationform"), function(index, value){
        $(this).removeClass (function (index, className) {
          return (className.match (/(^|\s)location_\S+/g) || []).join(' ');
        }).addClass("location_"+index);
        $(this).find($(".postal_code")).attr("id", "postal_"+index)
      });
      $.each($(".location_number"), function(index, value){
        number = index + 1
        $(this).text("Location "+ number)
      });
      var id = $('.locationform').length - 1
      $('.location_'+id+' #add_number').focus()
      $.each($('.location_'+id+' [name^="lesson[locations_attributes][0]"]'),function(){
        var name = $(this).attr('name').replace(/\d+/g, id)
        $(this).attr('name', name)
      })
    }
  });
})

//Job Photo Handing

function show_image(images_object,images,number_of_images,resolve){
  var img_key = ""
  if(images_object.attr('id') == 'partner_photos'){
    var image_appended = $('.img_partner_photos').length
    img_key = "partner_photos"
    for (i=0; i < number_of_images; i++){
      var reader = new FileReader()
      reader.onload = function(e){
        $($.parseHTML("<img class='img_"+img_key+"'>")).attr('src', e.target.result).width(95).height(95).appendTo($("."+img_key+"_preview"));
        if(image_appended == 0 ){
          if(number_of_images == $('.img_'+img_key).length){
            resolve();
          }
        }else{
          if(number_of_images+image_appended == $('.img_'+img_key).length){
            resolve();
          }
        }
      };
      reader.readAsDataURL(images[i])
    }
  }else{
    var image_appended = $('.img_cover').length
    if(image_appended >  0){
      $('.img_cover').parent().remove()
    }
    img_key = "cover"
    for (i=0; i < number_of_images; i++){
      var reader = new FileReader()
      reader.onload = function(e){
        $($.parseHTML("<img class='img_"+img_key+"'>")).attr('src', e.target.result).width(100).height(100).appendTo($("."+img_key+"_preview"));
        if(number_of_images == $('.img_'+img_key).length){
            resolve();
        }
      };
      reader.readAsDataURL(images[i])
    }
  }
}

function assign_id_to_image(images_object){
  var img_key = ''
  if(images_object.attr('id') == 'partner_photos'){
    img_key = 'partner_photos'
  }else{
    img_key = 'cover'
  }
  var image_id = 0
  $(".img_"+img_key).each(function(){
    $(this).attr('id', img_key+'_'+image_id)
    //$(this).attr('name', )
    image_id++
  })
}

function wrap_append_photo(images_object,images,number_of_images){
  var img_key = ""
  var append_key = ''
  if(images_object.attr('id') == 'partner_photos'){
    img_key = "partner_photos"
    append_key = $partner_images
  }else{
    img_key = "cover"
    append_key = $cover_image
  }
  var number_of_images_on_page = $('.img_'+img_key).length
  var number_for_loops = number_of_images_on_page - number_of_images
  var append_id = 0
  for(i=number_for_loops; i<number_of_images_on_page; i++){
    append_key.push(images[append_id])
    $('#'+img_key+'_'+i).wrap("<div class='photo_wrapper'></div>")
    $('#'+img_key+'_'+i).after("<button name='button' type='button' class='btn-default image_remove_button'>×</button>")
    append_id++
  }
}

function show_append_image(e,images_object,images,number_of_images){
  var image_promise = new Promise(
    function(resolve){
      show_image(images_object,images,number_of_images,resolve)
    }
  );
  var assign_and_append_image_promise = function(){
    image_promise.then(function(){
      assign_id_to_image(images_object)
      wrap_append_photo(images_object,images,number_of_images)
      //photos_validation(images_object,e)
    })
  };
  assign_and_append_image_promise();
}

$('#partner_photos').on("change", function(e){
  var images_object = $(this)
  var images = $(this)[0].files
  var number_of_images = $(this)[0].files.length
  show_append_image(e,images_object,images,number_of_images)
  if($(this).val().length > 0){
    $('#partner_photo_upload_button').text('Add more photos')
  }
});

$(".partner_photos_preview, .cover_preview").on("mouseover", ".photo_wrapper", function(){
  $(this).find($('.image_remove_button')).css('display', 'inline-block')
  $(this).css('opacity', "0.5")
})

$(".partner_photos_preview, .cover_preview").on("mouseleave", ".photo_wrapper", function(){
  $(this).find($('.image_remove_button')).css('display', 'none')
  $(this).css('opacity', "1")
})

$(".partner_photos_preview, .cover_preview").on('click','.image_remove_button', function(e){
  var get_id = $(this).prev().attr('id')
  var get_id_splice = get_id.substring(0,1)
  var image_id = get_id.substring(15)
  $(this).parent().remove()
  if(get_id_splice == 'p'){
    assign_id_to_image($('#partner_photos'))
    $partner_images.splice(get_id, 1)
    if($(".img_partner_photos").length == 0){
      $('#partner_photo_upload_button').text('Upload a photo of your partners')
    }
  }else{
    $cover_image.splice(0, 1)
    $('#cover_photo_upload_button').text('Upload a cover')
  }
  $.ajax({
    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
    url:"/lessons/remove_image",
    data: {image_id:image_id},
    dataType: 'script'
  });
})

function change_location_no(){
  if($('.locationform').length > 0){
    $.each($(".locationform"), function(index, value){
      $(this).removeClass (function (index, className) {
        return (className.match (/(^|\s)location_\S+/g) || []).join(' ');
      }).addClass("location_"+index);
    });
    $.each($(".location_number"), function(index, value){
      number = index + 1
      $(this).text("Location "+ number)
    });
    $.each($(".postal_code"), function(index, value){
      $(this).removeClass (function (index, className) {
        return (className.match (/(^|\s)postal_code\S+/g) || []).join(' ');
      }).attr("id", "postal_"+index);
    });
  }
}

$('.bountytype').on('click', function(){
  var id = $(this).attr('id').substring(19)
  var bounty = $('#bounty_db').val()
  var deposit = $('#deposit_db').val()
  $('.bounty_type_amount').remove()
  if(id == 1){
    $('.bounty_type_amount_wrapper').html('<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 bounty_type_amount"><input id="bounty" class="form-control input-lg form-control-v text-center" autocomplete="__away" value="'+ bounty +'" placeholder="Bounty" type="number" name="lesson[bounty]" style="border: 1px solid rgb(35, 179, 185);"><label for="bounty" class="static-value">$</label><label for="bounty" class="static-value-sgd">SGD</label></div>')
    $("#description").val( function( index, val ) {
      var text = val.replace("\n\nPlease retain and show receipt to reimburse the cost of goods.", "")
      return text + "\n\nPlease retain and show receipt to reimburse the cost of goods."
    });
  }
  if(id == 2){
    $('.bounty_type_amount_wrapper').html('<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 bounty_type_amount"><input id="bounty" class="form-control input-lg form-control-v text-center" autocomplete="__away" value="'+ bounty +'" placeholder="Bounty" type="number" name="lesson[bounty]"><label for="bounty" class="static-value">$</label><label for="bounty" class="static-value-sgd">SGD</label><input id="deposit" class="form-control input-lg form-control-v text-center" autocomplete="__away" value="'+ deposit +'" placeholder="Deposit" type="number" name="lesson[deposit]"><label for="deposit" class="static-value-2">$</label><label for="bounty" class="static-value-sgd-2">SGD</label></div>')
    $("#description").val( function( index, val ) {
      var text = val.replace("\n\nPlease retain and show receipt to reimburse the cost of goods.", "")
      return text + "\n\nPlease retain and show receipt to reimburse the cost of goods."
    });
  }
  if(id == 3){
    $('.bounty_type_amount_wrapper').html('<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 bounty_type_amount"><input id="bounty" class="form-control input-lg form-control-v text-center" autocomplete="__away" value="'+ bounty +'" placeholder="Full Sum" type="number" name="lesson[bounty]"><label for="bounty" class="static-value">$</label><label for="bounty" class="static-value-sgd">SGD</label></div>')
    $("#description").val( function( index, val ) {
      return val.replace("\n\nPlease retain and show receipt to reimburse the cost of goods.", "")
    });
  }
})

$('.create_new_hoote').on('blur', '#bounty, #deposit, #bounty_only', function(){
  var amount = parseFloat($(this).val()).toFixed(2)
  $(this).val(amount)
})

$('.btn-add-location').on('click', function(){
  $(this).hide()
  $('.btn-address-words').css('display', 'inline-block')
})

$('.btn-add-location').on('click', function(){
  $(this).hide()
  $('.btn-address-words').css('display', 'inline-block')
})

$('.btn-add-another-location').on('click', function(){
  $(this).hide()
  $('.btn-address-words-another').css('display', 'inline-block')
  $('.btn-address-another').show()
})

$('.btn-address-another').on('click', function(){
  $('.btn-address-another').hide()
  $('.btn-address-words-another').hide()
  $('.btn-add-another-location').css('display', 'inline-block')
})

$('.bounty_type_info_icon').on('click', function(){
  $('.bounty_type_overlay').show()
  $('.bounty_type_info_wrapper').show()
})

$('.bounty_type_overlay, .bounty_type_info_wrapper').on('click', function(){
  $(this).hide()
  $('.bounty_type_info_wrapper').hide()
})

var placeholder = "E.g.\nType: Gold\nSize: Newborn\nQuantity: 2 Jumbo Pack\nMade in South Korea\nPrice Range: SGD XX.XX - XX.XX\nPlease purchase the items and deliver to my home."

$("#description").on('focus', function(){
  $("#description").val( function( index, val ) {
    return val.replace("E.g.\nType: Gold\nSize: Newborn\nQuantity: 2 Jumbo Pack\nMade in South Korea\nPrice Range: SGD XX.XX - XX.XX\nPlease purchase the items and deliver to my home.", "")
  });
  $('.tooltip_url_desc').show()
  $("#description").css('color', '#555555')
})

$("#description").on('blur', function(){
  $('.tooltip_url_desc').hide()
  if($(this).val().length == 0){
    $("#description").css('color', '#d1d1d1')
    $(this).val(placeholder)
  }
})

</script>
