<div class="first_body">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1><strong>Hootenanny</strong></h1>
      <h3><strong>Get your problems solved</strong></h3>
      <h5>A marketplace connecting problem owners and solvers.</h5>
      <% if user_signed_in? %>
        <%= button_to "Create a new Hoote", create_path, class:"btn btn-cancel btn-lg", method: :get %>
        <p>I see that you're a fan of ours!</p>
      <% else %>
      <%= button_to "Sign Up, it's free!", signup_path, class: "btn btn-cancel btn-lg", method: :get %>
      <p>Already a fan of ours? <%= link_to "Log in", login_path %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="background_test">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 searchbar">
        <div class="searchboxwrapper">
          <%= link_to root_path do %>
            <div class="clear_search">
              Clear Search
            </div>
          <% end %>
          <%= form_tag search_lessons_path, method: :get, id:"search_form" do %>
          <%= text_field_tag :search, params[:search], class:"searchboxstyle form-control text-center", placeholder:"Search for a Problem" %>
          <% end %>
          <div class="sorttagwrapper">
            <div class="sort_collapse_wrapper">
              Sort By
            </div>
            <div class="sortbywrapper">
              <%= sortable_search "bounty", "desc", "Bounty (High to Low)" %>
              <%= sortable_search "bounty", "asc", "Bounty (Low to High)" %>
              <%= sortable_search "datetime_completed", "asc", "Complete by (Earliest)" %>
              <%= sortable_search "datetime_completed", "desc", "Complete By (Latest)" %>
              <%= sortable_search "datetime_awarded", "asc", "Bid Closes (Earliest)" %>
              <%= sortable_search "datetime_awarded", "desc", "Bid Closes (Latest)" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 tags">
        <%= link_to "#collapseTag", "data-toggle" => "collapse", id:"tag_collapse" do %>
            <div class="tag_collapse_wrapper">
              <i class='arrow down'></i>
            </div>
        <% end %>
        <div class="searchtagswrapper">
          <div class="searchtagfirstrow">
            <% Category.first(5).each do |category| %>
              <div class="searchtag">
                <%= category.name %>
              </div>
            <% end %>
          </div>
          <div class="text-center searchtagotherrow">
            <div class="collapse" id="collapseTag">
              <% Category.all.drop(5).each do |category| %>
                <div class="searchtag">
                  <%= category.name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% @lessons.each do |lesson| %>
   <% if lesson.datetime_awarded > DateTime.current && lesson.awardee_id.blank? %>
      <div class="hoote_info text-center">
        <div class="container hoote_wrapper">
          <div class="row hoote_title">
            <%= link_to lesson do %>
              <div class="hoote_title_first text-center"><%= lesson.title %></div>
            <% end %>
            <div class="hoote_bounty"><%= number_to_currency(lesson.bounty) %></div>
          </div>
          <div class="row hoote_description">
            <div class="col-xs-12 hoote_description_first">
              <%= lesson.description %>
            </div>
          </div>
          <div class="row hoote_time">
            <div class="col-xs-6 hoote_time_first text-center">
              <div class="hoote_time_first_sub">
                Complete by:
                <div class="separator_bottom"></div>
              </div>
              <h5><%= lesson.datetime_completed.strftime("%I:%M %p") %></h5>
              <h5><%= lesson.datetime_completed.strftime("%e %b %Y") %><br>
              <%= lesson.datetime_completed.strftime("%A") %></h5>
            </div>
            <div class="col-xs-6 hoote_time_second">
              <div class="hoote_time_second_sub">
                Bid Closes:
                <div class="separator_bottom"></div>
              </div>
              <h5><%= lesson.datetime_awarded.strftime("%I:%M %p") %></h5>
              <h5><%= lesson.datetime_awarded.strftime("%e %b %Y") %><br>
              <%= lesson.datetime_awarded.strftime("%A") %><br></h5>
            </div>
          </div>
          <% if lesson.locations.present? %>
            <div class="row hoote_location">
              <div class="col-xs-12 hoote_location_first">
                <% lesson.locations.each.with_index(1) do |location, index| %>
                  <div class="address2">
                    <%= image_tag("locationblack.png", class:"locationwrapper2") %><%= location.name %><br>
                    <%= location.road_name %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="row hoote_tag">
            <div class="col-xs-12 hoote_tag_first">
              <% lesson.tag.each do |tag| %>
                <div class="tag"><%= Category.find(tag).name %></div>
              <% end %>
            </div>
          </div>
          <div class="row hoote_bid">
            <div class="col-xs-12 hoote_bid_first">
              <%= link_to lesson do %>
                <div class="hoote_bid_button">Bid</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $('.searchtag').on('click', function(){
    $('#search').val($(this).text().trim())
    $('#search_form').submit()
  })

  $('#tag_collapse').on('click', function(){
    if ($('.arrow').hasClass('down')){
      $('.arrow').removeClass('down').addClass('up')
      $('.tag_collapse_wrapper').css('padding', '5px 0 0 0')
    }else{
      $('.arrow').removeClass('up').addClass('down')
      $('.tag_collapse_wrapper').css('padding', '0 0 5px 0')
    }
  })

  $('.sort_collapse_wrapper').on('click', function(){
    if($('.sortbywrapper').hasClass('show')){
      $('.sortbywrapper').hide()
      $('.sortbywrapper').removeClass('show')
    }else{
      $('.sortbywrapper').show()
      $('.sortbywrapper').addClass('show')
    }
  })

</script>
