<div class="first_body">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1><strong>Hootenanny</strong></h1>
      <h3><strong>Get your problems solved</strong></h3>
      <h5>A marketplace connecting problem owners and solvers.</h5>
      <% if user_signed_in? %>
        <%= button_to "Create a new Hoote", create_path, class:"btn btn-cancel btn-lg", method: :get %>
        <p>I see that you're a fan of ours!</p>
      <% else %>
      <%= button_to "Sign Up, it's free!", signup_path, class: "btn btn-cancel btn-lg", method: :get %>
      <p>Already a fan of ours? <%= link_to "Log in", login_path %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="background_test">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 searchbar">
        <div class="searchboxwrapper">
          <%= form_tag search_lessons_path, method: :get, id:"search_form" do %>
          <%= text_field_tag :search, params[:search], class:"searchboxstyle form-control text-center", placeholder:"Search for a Problem" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="searchtagswrapper text-center">
          <% Category.first(5).each do |category| %>
            <div class="searchtag">
              <%= category.name %>
            </div>
          <% end %>
          <div class="collapse" id="collapseWhen">
            <% Category.all.drop(5).each do |category| %>
              <div class="searchtag">
                <%= category.name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to "<span class='caret'></span>".html_safe, "#collapseWhen", class:"form_collapse", id:"when_title", "data-toggle" => "collapse" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center no_results">
      No Problems found, try other keywords!
    </div>
  </div>
</div>

<script>
  $('.searchtag').on('click', function(){
    $('#search').val($(this).text().trim())
    $('#search_form').submit()
  })
</script>
