<div class="first_body">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1><strong>Hootenanny</strong></h1>
      <h3><strong>Get your problems solved</strong></h3>
      <h5>A marketplace connecting problem owners and solvers.</h5>
      <% if user_signed_in? %>
        <%= button_to "Create a new Hoote", create_path, class:"btn btn-cancel btn-lg", method: :get %>
        <p>I see that you're a fan of ours!</p>
      <% else %>
      <%= button_to "Sign Up, it's free!", signup_path, class: "btn btn-cancel btn-lg", method: :get %>
      <p>Already a fan of ours? <%= link_to "Log in", login_path %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="background_test">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 searchbar">
        <div class="searchboxwrapper">
          <%= form_tag search_lessons_path, method: :get, id:"search_form" do %>
          <%= text_field_tag :search, params[:search], class:"searchboxstyle_no form-control text-center", placeholder:"Search for a Problem" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 tags">
        <%= link_to "#collapseTag", "data-toggle" => "collapse", id:"tag_collapse" do %>
            <div class="tag_collapse_wrapper">
              <i class='arrow down'></i>
            </div>
        <% end %>
        <div class="searchtagswrapper">
          <div class="searchtagfirstrow">
            <% Category.first(5).each do |category| %>
              <div class="searchtag">
                <%= category.name %>
              </div>
            <% end %>
          </div>
          <div class="text-center searchtagotherrow">
            <div class="collapse" id="collapseTag">
              <% Category.all.drop(5).each do |category| %>
                <div class="searchtag">
                  <%= category.name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center no_results">
      No Problems found, try other keywords!
    </div>
  </div>
</div>

<script>
  $('.searchtag').on('click', function(){
    $('#search').val($(this).text().trim())
    $('#search_form').submit()
  })

  $('#tag_collapse').on('click', function(){
    if ($('.arrow').hasClass('down')){
      $('.arrow').removeClass('down').addClass('up')
      $('.tag_collapse_wrapper').css('padding', '5px 0 0 0')
    }else{
      $('.arrow').removeClass('up').addClass('down')
      $('.tag_collapse_wrapper').css('padding', '0 0 5px 0')
    }
  })

  $('.sort_collapse_wrapper').on('click', function(){
    if($('.sortbywrapper').hasClass('show')){
      $('.sortbywrapper').hide()
      $('.sortbywrapper').removeClass('show')
    }else{
      $('.sortbywrapper').show()
      $('.sortbywrapper').addClass('show')
    }
  })
</script>
