<div class="container">
  <div class="row">
    <div class="hoote_body payment_append">
      <div class="hoote_info_show text-center">
        <div class="hoote_organizer">
          <%= link_to image_tag(@lesson.organizer.avatar.image.url, size:"150x150", class:"profile_pic"), profiles_path(:id => @lesson.organizer.id) %>
          <h5>
            <%= @lesson.organizer.first_name %><br>
            <% if @lesson.organizer.rating_owner != 0 %>
              <%= @lesson.organizer.rating_owner %>
              <% @lesson.organizer.rating_owner_stars.to_i.times do  %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
              <% @lesson.organizer.blank_stars_owner.to_i.times do  %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            <% else %>
              No ratings yet.
            <% end %>
          </h5>
        </div>
        <div class="container hoote_wrapper col-xs-12 col-sm-push-3 col-sm-6 col-md-push-3 col-md-6 col-lg-push-4 col-lg-4">
          <div class="row hoote_title_show">
            <div class="hoote_title_first text-center">
              <%= @lesson.title %>
            </div>
          </div>
          <% if @lesson.locations.present? %>
            <div class="row hoote_location">
              <div class="col-xs-12 hoote_location_first text-center">
                <% @lesson.locations.each.with_index(1) do |location, index| %>
                  <div class="address2">
                    <%= image_tag("locationblack.png", class:"locationwrapper2") %><%= location.name %><br>
                    <%= location.block_no %> <%= location.road_name %><br>
                    <% if location.unit_no.present? %>
                      #<%= location.unit_no %>
                    <% end %>
                    <% if location.building.present? %>
                      <%= location.building %><br>
                    <% end %>
                    <%= location.country if location.country.present? %>
                    <% if location.postal.present? %>
                      <%= location.postal %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="row hoote_description">
            <div class="col-xs-12 hoote_description_first">
              <%= simple_format(@lesson.description.gsub(/ *\r+/, "\n")) %><br>
              <% if @lesson.photos.present? %>
                <div class="job_photo_wrapper">
                  <% @lesson.photos.each do |photo| %>
                    <%= link_to image_tag(photo.image.url, size:"90x90"), photo.image.url %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="col-xs-12 hoote_tag_first">
              <% @lesson.tag.each do |tag| %>
                <div class="tag"><%= Category.find(tag).name %></div>
              <% end %>
            </div>
          </div>
          <div class="row hoote_dates date_header">
            <div class="col-xs-3 hoote_dates_header">
              Deliver by:
            </div>
            <div class="col-xs-3 date_first">
              <%= @lesson.datetime_completed.strftime("%e %b %Y") %>
            </div>
            <div class="col-xs-3 date_second">
              <%= @lesson.datetime_completed.strftime("%A") %>
            </div>
            <div class="col-xs-3 date_third">
              <%= @lesson.datetime_completed.strftime("%I:%M %p") %>
            </div>
            <div class="col-xs-3 hoote_dates_header">
              Bid by:
            </div>
            <div class="col-xs-3 date_first">
              <%= @lesson.datetime_awarded.strftime("%e %b %Y") %>
            </div>
            <div class="col-xs-3 date_second">
              <%= @lesson.datetime_awarded.strftime("%A") %>
            </div>
            <div class="col-xs-3 date_third">
              <%= @lesson.datetime_awarded.strftime("%I:%M %p") %>
            </div>
          </div>
          <div class="row hoote_bounty_wrapper_show">
            <div class="col-xs-12">
              <% if @lesson.bounty_type == 1 %>
                <div class="hoote_bounty_show">
                  <div class="bounty_header">
                    BOUNTY ONLY
                  </div>
                  <div class="bounty_amount">
                    <%= number_to_currency(@lesson.bounty) %> SGD
                  </div>
                </div>
              <% end %>
              <% if @lesson.bounty_type == 2 %>
                <div class="hoote_bounty_show">
                  <div class="bounty_header_show">
                    BOUNTY
                  </div>
                  <div class="bounty_amount">
                    <%= number_to_currency(@lesson.bounty) %> SGD
                  </div>
                </div>
                <div class="hoote_bounty_show">
                  <div class="bounty_header_show">
                    DEPOSIT
                  </div>
                  <div class="bounty_amount">
                    <%= number_to_currency(@lesson.deposit) %> SGD
                  </div>
                </div>
              <% end %>
              <% if @lesson.bounty_type == 3 %>
                <div class="hoote_bounty_show">
                  <div class="bounty_header">
                    FULL SUM
                  </div>
                  <div class="bounty_amount">
                    <%= number_to_currency(@lesson.bounty) %> SGD
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% if @lesson.datetime_awarded < DateTime.current %>
            <div class="row hoote_bidding_closed">
              <div class="col-xs-12 hoote_bid_closed">
                <h5>Bidding is closed</h5>
              </div>
            </div>
          <% else %>
            <% if @lesson.awardee_id.blank? %>
              <% if @rsvps.blank? %>
                <div class="row hoote_bidders nobody_bids">
                  Nobody has bidded for the job yet.
                </div>
              <% else %>
              <% if @rsvps.map {|rsvp| rsvp.bid_withdraw.blank?}.count(true) > 0 %>
                <div class="row hoote_bidders">
                  <div class="col-xs-12 hoote_bidders_sub_first">
                    <strong>Current Bids:</strong>
                    <div class="separator_question"></div>
                  </div>
                  <% @rsvps.each do |rsvp| %>
                    <% if rsvp.bid_withdraw.blank? %>
                      <div class="row">
                        <div class="col-xs-6 col-xs-push-1 hoote_bidders_sub_second">
                          <%= link_to image_tag(rsvp.attendee.avatar.image.url, size:"50x50", class:"bid_image"), profiles_path(:id=>rsvp.attendee.id) %><br>
                          <%= link_to rsvp.attendee.first_name, profiles_path(:id=>User.find_by_id(rsvp.attendee_id).id), class:"bidder_name" %><br>
                          <% if rsvp.attendee.rating_solver != 0 %>
                            <%= rsvp.attendee.rating_solver %>
                            <% rsvp.attendee.rating_solver_stars.to_i.times do  %>
                              <span class="glyphicon glyphicon-star"></span>
                            <% end %>
                            <% rsvp.attendee.blank_stars_solver.to_i.times do  %>
                              <span class="glyphicon glyphicon-star-empty"></span>
                            <% end %>
                          <% else %>
                            No ratings yet.
                          <% end %>
                        </div>
                        <div class="col-xs-6 col-xs-pull-1">
                          <div class="hoote_bid_dollar"><%= number_to_currency(rsvp.bid) %> SGD</div><br>
                          <% if @lesson.bounty_received_method.blank? %>
                            <% if @lesson.organizer_id == current_user.id %>
                              <%= button_to 'Award', award_path(awardee_id: rsvp.id, lesson_id: @lesson.id), method: :get, remote:true, class:"btn-award", type:"button" %><br>
                            <% end %>
                            <% if rsvp.attendee.id == current_user.id %>
                              <%= link_to 'Cancel Bid', rsvp_path(rsvp.id, rsvp:{ bid_withdraw: DateTime.current }), method: :put, data: { confirm: "You cannot submit another bid for this job.\nAre you sure you want to cancel your bid?" }, class: "btn-cancel-bid" %>
                            <% end %>
                          <% end %>
                          <% if rsvp.id == @lesson.pending_awardee_id%>
                            <h6>Pending award</h6>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <div class="row hoote_bidders nobody_bids">
                  Nobody has bidded for the job yet.
                </div>
              <% end %>
              <% end %>
              <% if @lesson.organizer_id != current_user.id %>
                <% if @bidders.include? current_user.id %>
                  <% if @bidders_cancelled.include? current_user.id %>
                    <div class="row hoote_bidding">
                      Sorry, you cannot bid for this job again. :(
                    </div>
                  <% else %>
                    <% if @lesson.pending_awardee_id.blank? %>
                    <div class="row hoote_bidding">
                      We will notify you if you get the job!
                    </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if @lesson.pending_awardee_id.blank? %>
                    <%= form_for @rsvp, :url => create_rsvp_lesson_path(@lesson) do |f| %>
                      <div class="row hoote_bidding">
                        <div class="hoote_bid_first relative">
                          <div class="bid_label">$</div><%= f.number_field :bid, class:"hoote_bid_amount text-center", placeholder: @lesson.bounty_type == 2 ? "Exclude Deposit" : nil %>
                        </div>
                        <div class="platformfee">
                          <% if @lesson.deposit.present? %>
                            <div class="row">
                              <div class="platformfee_header col-xs-4">
                                Deposit
                              </div>
                              <div class="deposit col-xs-4">+ <%= number_to_currency(@lesson.deposit) %></div>
                            </div>
                          <% end %>
                          <div class="row">
                            <div class="platformfee_header col-xs-4">
                              Fees
                              <div class="fee_in_percent"></div>
                            </div>
                            <div class="fee col-xs-4"></div>
                            <div class="row estimated_amount">
                              <div class="col-xs-push-1 col-xs-8 estimated_fee">
                                *This is an estimated fee.<br>Actual fee may be lower.
                              </div>
                            </div>
                          </div>
                          <div class="row relative actual_bounty_wrapper">
                            <div class="separator_fee"></div>
                            <div class="actual_bounty_header col-xs-4">
                              You'll receive
                            </div>
                            <div class="actual_bounty col-xs-4"></div>
                          </div>
                        </div>
                        <div class="hoote_bid_second">
                          <div class="missingbid">Your bid must be more than $0!</div>
                            <br><%= f.button "Bid", class:"btn-bid", type:"button" %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
                  <% if @lesson.bounty_received_method == 1 %>
                    <div class="row hoote_awarded">
                      Pending award
                    </div>
                  <% end %>
                <% if !@bidders_cancelled.include? current_user.id && @lesson.organizer != current_user %>
                  <div class="row hoote_ask_qn">
                    <%= button_tag "Ask a Question", class:"btn-question", type:"button" %>
                  </div>
                <% end %>
                <div class="row hoote_post" id="ask_a_qn">
                  <div class="col-xs-12">
                    What's your question?
                    <%= button_tag 'X', class: "x_question" %>
                    <%= form_for @question, :url => create_question_lesson_path(@lesson) do |f| %>
                      <%= f.text_area :body, {class:"form-control", rows: 4, autocomplete:"__away", maxlength: 500} %>
                      <div class="missingqn">Your question cannot be blank!</div>
                      <br><%= f.button "Post it!", type:"button", class:"btn-post" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <% if @rsvps.blank? %>
                <div class="row hoote_bidders nobody_bids">
                  Nobody has bidded for the job yet.
                </div>
              <% else %>
                <% if @rsvps.map {|rsvp| rsvp.bid_withdraw.blank?}.count(true) > 0 %>
                  <div class="row hoote_bidders">
                    <div class="col-xs-12 hoote_bidders_sub_first">
                      <strong>Current Bids:</strong>
                      <div class="separator_question"></div>
                    </div>
                    <% @rsvps.each do |rsvp| %>
                      <% if rsvp.bid_withdraw.blank? %>
                        <div class="row">
                          <div class="col-xs-6 col-xs-push-1 hoote_bidders_sub_second">
                            <%= link_to image_tag(rsvp.attendee.avatar.image.url, size:"50x50", class:"bid_image"), profiles_path(:id=>rsvp.attendee.id) %><br>
                            <%= link_to rsvp.attendee.first_name, profiles_path(:id=>User.find_by_id(rsvp.attendee_id).id), class:"bidder_name" %><br>
                            <% if rsvp.attendee.rating_solver != 0 %>
                              <%= rsvp.attendee.rating_solver %>
                              <% rsvp.attendee.rating_solver_stars.to_i.times do  %>
                                <span class="glyphicon glyphicon-star"></span>
                              <% end %>
                              <% rsvp.attendee.blank_stars_solver.to_i.times do  %>
                                <span class="glyphicon glyphicon-star-empty"></span>
                              <% end %>
                            <% else %>
                              No ratings yet.
                            <% end %>
                          </div>
                          <div class="col-xs-6 col-xs-pull-1">
                            <div class="hoote_bid_dollar"><%= number_to_currency(rsvp.bid) %> SGD</div><br>
                            <% if rsvp.id == @lesson.awardee_id%>
                              <h6>Awarded</h6>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <div class="row hoote_bidders nobody_bids">
                    Nobody has bidded for the job yet.
                  </div>
                <% end %>
              <% end %>
                <div class="row hoote_awarded">
                  Job is awarded!
                </div>
            <% end %>
            <% if @questions.present? %>
              <div class="questions">
                <div class="row hoote_faq">
                  <div class="col-xs-12 hoote_faq_first">
                    <strong>Questions</strong>
                    <div class="separator_question"></div>
                  </div>
                  <div class="col-xs-12 hoote_faq_second">
                    <% @questions.each_with_index do |question,i| %>
                      <% if @lesson.organizer_id == current_user.id %>
                        <div class="row">
                          <div class="col-xs-3 hoote_faq_second_sub_first">
                            <%= link_to image_tag(User.find(question.user_id).avatar.image.url, size:"50x50", class:"profile_pic"), profiles_path(:id=>User.find(question.user_id).id) %>
                            <%= link_to User.find(question.user_id).first_name, profiles_path(:id=>User.find(question.user_id).id) %>
                          </div>
                          <div class="col-xs-9 hoote_faq_second_sub_second">
                            <%= link_to 'X', question, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this question?' }, class: "remove_question" %>
                            <h6><%= i+1 %>. <%=  question.body %></h6>
                            <% if question.answer.blank? %>
                              <% if @lesson.organizer_id == current_user.id %>
                                <%= form_for question.build_answer, :url => create_answer_lesson_path(question) do |f| %>
                                  <%= f.text_area :body, {class:"form-control", rows: 2, autocomplete:"__away", maxlength: 500}%>
                                  <%= f.button "Answer it!", type:"submit", class:"btn-ans", id:"btn-answer" %>
                                <% end %>
                              <% end %>
                            <% else %>
                              <h6><strong>Ans: <%= question.answer.body %></strong></h6>
                            <% end %>
                          </div>
                        </div>
                      <% else %>
                        <div class="hoote_faq_second_sub_first">
                          <h6><%= i+1 %>. <%=  question.body %></h6>
                          <% if question.answer.present? %>
                            <h6>Ans: <%= question.answer.body %></h6>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="row">
            <%= link_to "Manage this Job", lesson_owner_path, class:"btn-manage" if current_user == @lesson.organizer %>
            <%= link_to "Manage this Job", lesson_solver_path, class:"btn-manage" if @lesson.awardee_id.present? && current_user == Rsvp.find(@lesson.awardee_id).attendee %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<script>

$(document).ready(function(){
  $('#hoote_link').val(document.URL)
})

var copy = function(elementId) {

	var input = document.getElementById(elementId);
	var isiOSDevice = navigator.userAgent.match(/ipad|iphone/i);

	if (isiOSDevice) {

		var editable = input.contentEditable;
		var readOnly = input.readOnly;

		input.contentEditable = true;
		input.readOnly = false;

		var range = document.createRange();
		range.selectNodeContents(input);

		var selection = window.getSelection();
		selection.removeAllRanges();
		selection.addRange(range);

		input.setSelectionRange(0, 999999);
		input.contentEditable = editable;
		input.readOnly = readOnly;

	} else {
	 	input.select();
	}

	document.execCommand('copy');
  $('.tooltip_url').css("opacity", 1)
  setTimeout(function(){
     $('.tooltip_url').css("opacity", 0)
   }, 1500);
}

$(".btn-question").on('click', function(){
  $(".hoote_ask_qn").hide()
  $('.hoote_post').css('display', 'block')
  $('#question_body').focus()
})

$(".btn-post").on('click', function(){
  if($('#question_body').val().length > 0){
    $('.hoote_post').hide()
    $(".btn-question").show()
    $('.new_question').submit()
  }else{
    $('.missingqn').css('display', 'inline-block')
  }
})

$('#question_body').on('input', function(){
  if($(this).val().length > 0){
    $('.missingqn').hide()
  }else{
    $('.missingqn').css('display', 'inline-block')
  }
})

$(".btn-award").on('click', function(e){
  e.preventDefault()
  var bidder_name = $(this).parent().parent().prev().find('.bidder_name').text()
  var bid_amount = $(this).parent().prev().prev().text()
  var confirm_bid = confirm("Do you want to award the job to "+ bidder_name + " at " + bid_amount + " ?")
  if (confirm_bid == true){
    $(this).parent().submit()
  }
  else{
    e.preventDefault()
  }
})

$('#rsvp_bid').on('change', function(){
  var amount = parseFloat($(this).val()).toFixed(2)
  $(this).val(amount)
})

$('#rsvp_bid').on('input', function(){
  if($(this).val() > 0){
    $('.missingbid').hide()
    $('.platformfee').show()
    var fee_in_dec
    var amount = parseFloat($('#rsvp_bid').val())
    if ($('.deposit').length > 0) {
      var deposit = parseFloat($('.deposit').text().replace("$", "").replace("+", ""))
      amount = amount + deposit
    }
    if (amount < 10){
      fee_in_dec = 0.02
    }else if (amount >= 10 && amount < 20){
      fee_in_dec = 0.08
    }else if (amount >= 20 && amount < 30){
      fee_in_dec = 0.06
    }else if (amount >= 30 && amount < 50){
      fee_in_dec = 0.05
    }else if (amount >= 50 && amount < 500){
      fee_in_dec = 0.04
    }else if (amount >= 500){
      fee_in_dec = 0.03
    }
    var fee = (amount * fee_in_dec).toFixed(2)
    var fee_in_percent = fee_in_dec * 100
    var actual_bounty = (amount - fee).toFixed(2)
    $('.fee').html('- $'+fee+'*')
    $('.fee_in_percent').html('('+fee_in_percent+'%)')
    $('.actual_bounty').html('$'+actual_bounty)
    //$(".btn-bid").attr('type', 'submit')
  }else{
    $('.platformfee').hide()
    $('.fee').html('$0')
    $('.fee_in_percent').html('(0%)')
    $('.actual_bounty').html('$0')
    $('.missingbid').css('display', 'inline-block')
  }
})


$(".btn-bid").on('click', function(e){
  e.preventDefault()
  if($('#rsvp_bid').val() > 0){
    $('.missingbid').hide()
    var confirm_bid = confirm("Do you want to proceed with a bid amount of $"+ $('#rsvp_bid').val() + " ?")
    if (confirm_bid == true){
      $("#new_rsvp").submit()
    }
    else{
      e.preventDefault()
    }
  }else{
    $('.missingbid').show()
  }
})

$('.hoote_description').find('br').remove();

$('.x_question').on('click', function(){
  $('#ask_a_qn').hide()
  $(".hoote_ask_qn").show()
})

</script>
