<div class="container">
  <% if @countdown > DateTime.current + 8.hours %>
    <div class="row relative text-center">
      <h4>Express Closing in</h4>
      <div class="item_clock" id="clockdiv">
        <div>
          <span class="days"></span>
          <div class="smalltext">Day</div>
        </div>
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>
    <% else %>
      <h4 class="text-center">This week's Express has ended!</h4>
      <h4 class="text-center">We will update on the next Express soon!</h4><br><br>
    <% end %>

    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@popcorn_6.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Popcorn</h4>
        <h5 class="item_name"><%= @popcorn_6.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@popcorn_6.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@popcorn_6.price_my) %>
        </p>
        <%= button_to "Buy Now", @popcorn_6, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

  <% @popcorn_7.each do |popcorn_7| %>
    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(popcorn_7.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name"><%= popcorn_7.name %></h4>
        <h5 class="item_name"><%= popcorn_7.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(popcorn_7.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(popcorn_7.price_my) %>
        </p>
        <%= button_to "Buy Now", popcorn_7, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>
  <% end %>

    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@merries.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Diapers</h4>
        <h5 class="item_name"><%= @merries.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@merries.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@merries.price_my) %>
        </p>
        <%= button_to "Buy Now", @merries, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@drypers.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Diapers</h4>
        <h5 class="item_name"><%= @drypers.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@drypers.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@drypers.price_my) %>
        </p>
        <%= button_to "Buy Now", @drypers, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@huggies.item_photo.url, size:"185x185") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Diapers</h4>
        <h5 class="item_name"><%= @huggies.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@huggies.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@huggies.price_my) %>
        </p>
        <%= button_to "Buy Now", @huggies, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@famous.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Cookies</h4>
        <h5 class="item_name"><%= @famous.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@famous.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@famous.price_my) %>
        </p>
        <%= button_to "Buy Now", @famous, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@moistbo.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Botanical Series</h4>
        <h5 class="item_name"><%= @moistbo.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@moistbo.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@moistbo.price_my) %>
        </p>
        <%= button_to "Buy Now", @moistbo, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@moistex.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Extra Series</h4>
        <h5 class="item_name"><%= @moistex.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@moistex.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@moistex.price_my) %>
        </p>
        <%= button_to "Buy Now", @moistex, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@downy.item_photo.url, size:"100x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Concentrate Fabric Conditioner Refill</h4>
        <h5 class="item_name"><%= @downy.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@downy.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@downy.price_my) %>
        </p>
        <%= button_to "Buy Now", @downy, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@life.item_photo.url, size:"100x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Concentrate Fabric Conditioner Refill</h4>
        <h5 class="item_name"><%= @life.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@life.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@life.price_my) %>
        </p>
        <%= button_to "Buy Now", @life, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

  <% @items.each do |item| %>
    <div class="row items_details text-center">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(item.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name"><%= item.name %></h4>
        <h5 class="item_name"><%= item.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(item.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(item.price_my) %>
        </p>
        <%= button_to "Buy Now", item, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>
  <% end %>
</div>


<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div class="row text-center">
      <%= link_to 'New Item', new_item_path, method: :get, class:"btn btn-award" %>
    </div>
  <% end %>
<% end %>

<script>
  $(document).ready(function(){
    if($('.btn-buynow').prop('disabled') == true){
      $('.btn-buynow').css('background-color', '#ccc')
    }
  })

  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
      var t = getTimeRemaining(endtime);

      daysSpan.innerHTML = t.days;
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      if (t.total <= 0) {
        clearInterval(timeinterval);
      }
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
  }

  var deadline = new Date(2019, 05, 03);
  initializeClock('clockdiv', deadline);
</script>
