<% content_for :head do %>
  <meta property="og:url" content= "<%= items_url %>"/>
  <meta property="og:title" content='<%= "Moonlight Express" %>'/>
  <meta property="og:description" content="<%= 'Ask more friends to buy and get 5% rebate from Boost!' %> "/>
  <meta property="og:image" content= ' <%= image_tag("moonlight.png") %>' />
<% end %>

<% content_for :ask_friends do %>
  <title><%= content_for?(:title) ? content_for(:title) : "Moonlight Express" %></title>
  <meta name="Description" content="Ask more friends to buy and get 5% rebate from Boost!">
<% end %>

<div class="container">
  <% if @countdown > DateTime.current + 8.hours %>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <div class="row text-center boostwrapper">
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 boostinvite">
          <%= image_tag("boost.png", size:"100x100") %>
          <h4>Boost</h4>
          <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 boostmeter">
            <% if @progress >= 100 %>
              <h4>EXPRESS BOOST UNLOCKED!</h4>
            <% else %>
              <h5>S<%= number_to_currency(@more) %> more to go!</h5>
            <% end %>
            <div class="progress">
              <% if @progress < 50 %>
                <div class="progress-bar progress-bar-50 relative" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:<%= @progress %>%">
                  S<%= number_to_currency(@sales) %>
                  <span class="boostpercent50"><%= @progress %>%</span>
                </div>
              <% elsif @progress >= 50 && @progress < 100 %>
                <div class="progress-bar progress-bar-100 relative" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:<%= @progress %>%">
                  S<%= number_to_currency(@sales) %>
                  <span class="boostpercent"><%= @progress %>%</span>
                </div>
              <% else %>
              <div class="progress-bar-success" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:100%">
                S<%= number_to_currency(@sales) %>
                <span class="boostpercent100"><%= @progress %>%</span>
              </div>
              <% end %>
            </div>
            <% if @progress >= 100 %>
              <div class="relative boostarrowwrapper" style="width:100%">
                <div class="boostunlock">
                  &#128640;
                </div>
              </div>
            <% else %>
              <div class="relative boostarrowwrapper" style="width:<%= @progress %>%">
                <div class="boostlock">
                  &#128274;
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-12">
            <p class="<%= "enjoyrebate" if @progress < 100 %>">Enjoy 5% rebate when total orders hit S$500!</p>

            <p class="inviterebate">Invite your friends and family to buy now!</p>
            <div class="socialbuttonwrapper">
              <%= social_share_button_tag("I want my 5% rebate from Boost! Join me and enjoy good deals", :allow_sites => %w(telegram), :url => items_url, :image => image_tag("moonlight.png") ) %>
              <%= social_share_button_tag("I want my 5% rebate from Boost! Join me and enjoy good deals\r\n#{items_url}", :allow_sites => %w(whatsapp_app)) %>
              <%= social_share_button_tag("#{items_url}", :allow_sites => %w(facebook), :desc => "I want my 5% rebate from Boost! Join me and enjoy good deals from moonlight.sg", :url => items_url) %>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>
    <div class="row relative text-center">
      <div class="deliverytruck">
        &#128666; Delivery is <div class="deliveryfree">FREE!</div>
      </div>
      <h4>Express Closing in</h4>
      <div class="item_clock" id="clockdiv">
        <div>
          <span class="days"></span>
          <div class="smalltext">Day</div>
        </div>
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>
    <% else %>
      <h4 class="text-center">This week's Express has ended!</h4>
      <h4 class="text-center">We will update on the next Express soon!</h4><br><br>
    <% end %>

    <div class="row text-center filter_row">
      <div class="col-xs-12">
        <%= button_tag "All", id:"tag_all", type:"button", class:"btn-filter-all btn-filter" %>
        <%= button_tag "Baby Related", id:"tag_2", type:"button", class:"btn-filter-rest btn-filter" %>
        <%= button_tag "Food Related", id:"tag_5", type:"button", class:"btn-filter-rest btn-filter" %>
        <%= button_tag "Home Related", id:"tag_6", type:"button", class:"btn-filter-rest btn-filter" %>
        <%= button_tag "Personal Grooming", id:"tag_4", type:"button", class:"btn-filter-rest btn-filter" %>
        <%= button_tag "Supplements", id:"tag_3", type:"button", class:"btn-filter-rest btn-filter" %>
        <%= button_tag "Others", id:"tag_8", type:"button", class:"btn-filter-rest btn-filter" %>
      </div>
    </div>

    <div class="row items_details text-center tag_5">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@popcorn_6.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Popcorn</h4>
        <h5 class="item_name"><%= @popcorn_6.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@popcorn_6.price_sg) %> - S$11.00
        </p>
        <p class="price_my">
          S<%= number_to_currency(@popcorn_6.price_my) %> - S$7.50
        </p>
        <%= button_to "Buy Now", @popcorn_6, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center tag_5">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@famous.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Cookies</h4>
        <h5 class="item_name"><%= @famous.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@famous.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@famous.price_my) %>
        </p>
        <%= button_to "Buy Now", @famous, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center tag_5">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@old.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Instant White Coffee</h4>
        <h5 class="item_name"><%= @old.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@old.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@old.price_my) %>
        </p>
        <%= button_to "Buy Now", @old, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center tag_2">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@merries.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Diapers</h4>
        <h5 class="item_name"><%= @merries.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@merries.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@merries.price_my) %>
        </p>
        <%= button_to "Buy Now", @merries, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center tag_2">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@mamy.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Diapers</h4>
        <h5 class="item_name"><%= @mamy.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@mamy.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@mamy.price_my) %>
        </p>
        <%= button_to "Buy Now", @mamy, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center tag_2">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@drypers.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Diapers</h4>
        <h5 class="item_name"><%= @drypers.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@drypers.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@drypers.price_my) %>
        </p>
        <%= button_to "Buy Now", @drypers, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center tag_2">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@huggies.item_photo.url, size:"185x185") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Diapers</h4>
        <h5 class="item_name"><%= @huggies.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@huggies.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@huggies.price_my) %>
        </p>
        <%= button_to "Buy Now", @huggies, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center tag_4">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@moistbo.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Botanical Series</h4>
        <h5 class="item_name"><%= @moistbo.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@moistbo.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@moistbo.price_my) %>
        </p>
        <%= button_to "Buy Now", @moistbo, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>

    <div class="row items_details text-center tag_4">
      <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
        <%= image_tag(@moistex.item_photo.url, size:"200x200") %>
      </div>
      <div class="col-xs-6 col-md-pull-1 col-lg-5">
        <h4 class="item_name">Extra Series</h4>
        <h5 class="item_name"><%= @moistex.brand %></h5>
        <p class="price_sg">
          S<%= number_to_currency(@moistex.price_sg) %>
        </p>
        <p class="price_my">
          S<%= number_to_currency(@moistex.price_my) %>
        </p>
        <%= button_to "Buy Now", @moistex, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
      </div>
    </div>
    <% @items.each do |item| %>
      <div class="row items_details text-center tag_<%= item.tag %>">
        <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-offset-2">
          <%= image_tag(item.item_photo.url, size:"200x200") %>
        </div>
        <div class="col-xs-6 col-md-pull-1 col-lg-5">
          <h4 class="item_name"><%= item.name %></h4>
          <h5 class="item_name"><%= item.brand %></h5>
          <p class="price_sg">
            S<%= number_to_currency(item.price_sg) %>
          </p>
          <p class="price_my">
            S<%= number_to_currency(item.price_my) %>
          </p>
          <%= button_to "Buy Now", item, method: :get, class:"btn-buynow", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
      </div>
    <% end %>
</div>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div class="row text-center">
      <%= link_to 'New Item', new_item_path, method: :get, class:"btn btn-award" %>
    </div>
  <% end %>
<% end %>

<script>
  $(document).ready(function(){
    if($('.btn-buynow').prop('disabled') == true){
      $('.btn-buynow').css('background-color', '#ccc')
    }
  })

  $(".btn-filter").on('click', function(){
    $(this).css("background-color", "#1E559E")
    $(".btn-filter").not($(this)).css("background-color", "#bbcce1")
    var id = $(this).attr('id')
    var tag_id = id.substring(4)
    if (tag_id == "all"){
      $(".items_details").show()
    }else{
      $(".items_details").show()
      $(".items_details").not($('.tag_'+tag_id)).hide()
    }
  })

  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
      var t = getTimeRemaining(endtime);

      daysSpan.innerHTML = t.days;
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      if (t.total <= 0) {
        clearInterval(timeinterval);
      }
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
  }

  var deadline = new Date(2019, 05, 19);
  initializeClock('clockdiv', deadline);


</script>
