<% content_for :head do %>
  <meta property="og:url" content= "<%= item_url %>"/>
  <meta property="og:title" content='<%= "#{@item.brand} - #{@item.name} #{@item.description}" %>'/>
  <meta property="og:description" content="<%= "Ask more friends to buy and get 5% rebate from Boost!" %>"/>
  <meta property="og:image" content="<%= @item.item_photo.url %>" />
<% end %>

<% content_for :ask_friends do %>
  <title><%= content_for?(:title) ? content_for(:title) : "#{@item.brand} - #{@item.name} #{@item.description}" %></title>
  <meta name="Description" content="Ask more friends to buy and get 5% rebate from Boost!">
<% end %>
<div class="container text-center item_header">
  <div class="row">
    <div class="col-xs-12">
      <% if @item.brand == "Eureka" %>
        <%= image_tag("popcorn.gif", size:"200x200", class:"product_gif")%><br><br>
      <% elsif @item.brand == "Kewpie" %>
        <%= image_tag("kewpie.gif", size:"200x200", class:"product_gif")%><br><br>
      <% elsif @item.brand == "Old Town" %>
        <%= image_tag("coffee.gif", size:"200x200", class:"product_gif")%><br><br>
      <% elsif @item.brand == "Tiger Balm" %>
        <%= image_tag("tiger balm patch.gif", size:"200x200", class:"product_gif")%><br><br>
      <% end %>
      <div class="product_info">
        <%= image_tag(@item.item_photo.url, size:"200x200")%><br>
        <h4 id="itemflavour"><%= @item.name %></h4>
        <h5 id="itemname"><%= @item.brand %></h5>
        <h5 id="itemdesc"><%= @item.description %></h5>
        <h4 class="price_sg_h">S<%= number_to_currency(@item.price_sg) %></h4>
        <h3 class="price_my_h">S<%= number_to_currency(@item.price_my) %></h3>
      </div>
      <% if @item.brand == "Eureka" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "flavour_id", @item.id %>
          <h5>Flavour:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@eureka_6, 'id', 'name'), class:"form-control flavour flavour_choice", prompt:"Please choose a Flavour" %>
          <div class="missinginfo" id="missingflavour">Please choose a flavour!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item), method: :post do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes  btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Famous Amos" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "flavour_id", @item.id %>
          <h5>Flavour:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@famous, 'id', 'name'), class:"form-control flavour flavour_choice", prompt:"Please choose a Flavour" %>
          <div class="missinginfo" id="missingflavour">Please choose a flavour!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes  btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Merries" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Size:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@merries, 'id', ->(ob) { "#{ob.name} #{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Size" %>
          <div class="missinginfo" id="missingflavour">Please choose a Size!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Drypers" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Size:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@drypers, 'id', ->(ob) { "#{ob.name} #{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Size" %>
          <div class="missinginfo" id="missingflavour">Please choose a Size!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Huggies" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Size:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@huggies, 'id', ->(ob) { "#{ob.name} #{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Size" %>
          <div class="missinginfo" id="missingflavour">Please choose a Size!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
        <% elsif @item.brand == "Huggies Little Swimmer" %>
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <%= hidden_field_tag "size_id", @item.id %>
            <h5>Size:</h5>
            <%= select_tag "flavour", options_from_collection_for_select(@hswim, 'id', ->(ob) { "#{ob.name} #{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Size" %>
            <div class="missinginfo" id="missingflavour">Please choose a Size!</div>
            <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
            <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
            <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
          </div>
          <div class="col-xs-12">
            <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
          </div>
          <% end %>
      <% elsif @item.brand == "MamyPoko" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Size:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@mamy, 'id', ->(ob) { "#{ob.name} #{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Size" %>
          <div class="missinginfo" id="missingflavour">Please choose a Size!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "PetPet" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Size:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@pet, 'id', ->(ob) { "#{ob.name} #{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Size" %>
          <div class="missinginfo" id="missingflavour">Please choose a Size!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Moist Diane Botanical" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Type:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@moistbo, 'id', ->(ob) { "#{ob.name} #{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Type" %>
          <div class="missinginfo" id="missingflavour">Please choose a Type!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Moist Diane Extra" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Type:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@moistex, 'id', ->(ob) { "#{ob.name} #{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Type" %>
          <div class="missinginfo" id="missingflavour">Please choose a Type!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Downy" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Type:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@downy, 'id', ->(ob) { "#{ob.name}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Type" %>
          <div class="missinginfo" id="missingflavour">Please choose a Type!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Tena" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Type & Size:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@tena, 'id', ->(ob) { "#{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Type & Size" %>
          <div class="missinginfo" id="missingflavour">Please choose a Type & Size!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Head & Shoulders" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Fragrance:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@head, 'id', ->(ob) { "#{ob.name}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Fragrance" %>
          <div class="missinginfo" id="missingflavour">Please choose a Fragrance!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Old Town" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Flavour:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@old, 'id', ->(ob) { "#{ob.name}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Flavour" %>
          <div class="missinginfo" id="missingflavour">Please choose a Flavour!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "PappaRich" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Flavour:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@pappa, 'id', ->(ob) { "#{ob.name} #{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Flavour" %>
          <div class="missinginfo" id="missingflavour">Please choose a Flavour!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Maybelline" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Type:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@maybelline, 'id', ->(ob) { "#{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Type" %>
          <div class="missinginfo" id="missingflavour">Please choose a Type!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Clariti" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Type:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@clariti, 'id', ->(ob) { "#{ob.description}" }, '1'), class:"form-control flavour size_choice", prompt:"Please choose a Type" %>
          <div class="missinginfo" id="missingflavour">Please choose a Type!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity"%>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% else %>
        <%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <br><%= f.number_field :quantity, class:"form-control quantity", placeholder:"Quantity"%>
            <div class="missinginfo" id="missingquantity">Minimum Quantity is 1!</div>
          </div>
          <br><br><br><br><%= f.submit "Add to Cart", class:"btn btn-changes", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br><%= link_to "Back", items_path, class:"btn btn-buynow" %>
</div>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div class="row text-center">
      <br><br><%= link_to 'Make some changes', edit_item_path(@item), class: "btn btn-award"  %> <%= link_to 'Delete Item', item_path(id: @item.id), method: :delete, data: { confirm: 'Are you sure you want to remove this item?' }, class: " btn btn-award" %>
    </div>
    <br>
    <div class="row text-center">
      <p>Invite your friends and family to buy now!</p>
      <div class="col-xs-12">
        <%= social_share_button_tag("#{@item.brand} - #{@item.name} #{@item.description} Please help me get 5% rebate from Boost by buying it together with me!", :allow_sites => %w(telegram), :url => item_url, :image => @item.item_photo.url ) %>
        <%= social_share_button_tag("#{@item.brand} - #{@item.name} #{@item.description} Please help me get 5% rebate from Boost by buying it together with me!\r\n#{item_url}", :allow_sites => %w(whatsapp_app)) %>
        <%= social_share_button_tag("#{@item.brand} - #{@item.name} #{@item.description} Please help me get 5% rebate from Boost by buying it together with me!\r\n#{item_url}", :allow_sites => %w(facebook), :desc => "#{@item.brand} - #{@item.name} #{@item.description} Please help me get 5% rebate from Boost by buying it together with me!", :url => item_url) %>
      </div>
    </div>
  <% end %>
<% end %>


<script>

  $('.flavour').on("change", function(){
    if($(this).val().length == 0){
      $('#missingflavour').show()
    }else{
      $('#missingflavour').hide()
    }
    var item_no = $(this).val()
    if (item_no){
      var new_action = "/items/" + item_no + "/orderitems"
      $('.new_orderitem').attr('action', new_action)
      $.ajax({
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url:"/product_info",
        data: {id:item_no},
        dataType: 'script'
      });
    }
  })

  $('.quantity').on("input", function(){
    if($(this).val() < 1){
      $('#missingquantity').show()
    }else{
      $('#missingquantity').hide()
    }
  })

  $('.btn-changes').on('click', function(e){
    if($('.quantity').val() < 1){
      e.preventDefault()
      $('#missingquantity').show()
    }
  })

  $('.btn-flavour').on('click', function(e){
    if($('.quantity').val() < 1){
      e.preventDefault()
      $('#missingquantity').show()
    }
    if($('.flavour').val().length == 0){
      e.preventDefault()
      $('#missingflavour').show()
    }
  })

</script>
