<div class="container text-center item_header">
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag(@item.item_photo.url, size:"200x200")%><br>
      <% if @item.brand == "Eureka" %>
        <h4>Popcorn</h4>
      <% elsif @item.brand == "Merries" %>
        <h4>Diapers</h4>
      <% else %>
        <h4><%= @item.name %></h4>
      <% end %>
      <h5><%= @item.brand %></h5>
      <h5><%= @item.description if @item.brand != "Merries" %></h5>
      <h4 class="price_sg_h">S<%= number_to_currency(@item.price_sg) %></h4>
      <h3 class="price_my_h">S<%= number_to_currency(@item.price_my) %></h3><br>
      <% if @item.brand == "Eureka" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "flavour_id", @item.id %>
          <h5>Flavour:</h5>
          <% if @item.price_my == 6.7 %>
            <%= select_tag "flavour", options_from_collection_for_select(@eureka_6, 'id', 'name'), class:"form-control flavour flavour_choice", prompt:"Please choose a Flavour" %>
          <% else %>
            <%= select_tag "flavour", options_from_collection_for_select(@eureka_7, 'id', 'name'), class:"form-control flavour flavour_choice", prompt:"Please choose a Flavour" %>
          <% end %>
          <div class="missinginfo" id="missingflavour">Please choose a flavour!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity", min: 2 %>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 2!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes  btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Famous Amos" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "flavour_id", @item.id %>
          <h5>Flavour:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@famous, 'id', 'name'), class:"form-control flavour flavour_choice", prompt:"Please choose a Flavour" %>
          <div class="missinginfo" id="missingflavour">Please choose a flavour!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity", min: 2 %>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 2!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes  btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
      <% elsif @item.brand == "Merries" %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= hidden_field_tag "size_id", @item.id %>
          <h5>Size:</h5>
          <%= select_tag "flavour", options_from_collection_for_select(@merries, 'id', 'name', '1'), class:"form-control flavour size_choice", prompt:"Please choose a Size" %>
          <div class="missinginfo" id="missingflavour">Please choose a Size!</div>
          <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity", min: 2 %>
          <div class="missinginfo" id="missingquantity">Minimum Quantity is 2!</div>
        </div>
        <div class="col-xs-12">
          <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        </div>
        <% end %>
        <% elsif @item.brand == "Drypers" %>
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <%= hidden_field_tag "size_id", @item.id %>
            <h5>Size:</h5>
            <%= select_tag "flavour", options_from_collection_for_select(@drypers, 'id', 'name', '1'), class:"form-control flavour size_choice", prompt:"Please choose a Size" %>
            <div class="missinginfo" id="missingflavour">Please choose a Size!</div>
            <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
            <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity", min: 2 %>
            <div class="missinginfo" id="missingquantity">Minimum Quantity is 2!</div>
          </div>
          <div class="col-xs-12">
            <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
          </div>
          <% end %>
          <% elsif @item.brand == "Huggies" %>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
              <%= hidden_field_tag "size_id", @item.id %>
              <h5>Size:</h5>
              <%= select_tag "flavour", options_from_collection_for_select(@huggies, 'id', 'name', '1'), class:"form-control flavour size_choice", prompt:"Please choose a Size" %>
              <div class="missinginfo" id="missingflavour">Please choose a Size!</div>
              <br><%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
              <%= f.number_field :quantity, class:"form-control text-center quantity", placeholder:"Quantity", min: 2 %>
              <div class="missinginfo" id="missingquantity">Minimum Quantity is 2!</div>
            </div>
            <div class="col-xs-12">
              <br><%= f.submit "Add to Cart", class:"btn btn-changes btn-flavour", disabled: (true if @countdown < DateTime.current + 8.hours) %>
            </div>
            <% end %>
      <% else %>
        <%= form_for @orderitem, :url => item_orderitems_path(@item) do |f| %>
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <%= f.number_field :quantity, class:"form-control quantity", placeholder:"Quantity", min: 2 %>
            <div class="missinginfo" id="missingquantity">Minimum Quantity is 2!</div>
          </div>
          <br><br><br><%= f.submit "Add to Cart", class:"btn btn-changes", disabled: (true if @countdown < DateTime.current + 8.hours) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br><%= link_to "Back", items_path, class:"btn btn-buynow" %>
</div>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div class="row text-center">
      <br><br><%= link_to 'Make some changes', edit_item_path(@item), class: "btn btn-award"  %> <%= link_to 'Delete Item', item_path(id: @item.id), method: :delete, data: { confirm: 'Are you sure you want to remove this item?' }, class: " btn btn-award" %>
    </div>
  <% end %>
<% end %>


<script>
  $('.flavour').on("change", function(){
    if($(this).val().length == 0){
      $('#missingflavour').show()
    }else{
      $('#missingflavour').hide()
    }
    var item_no = $(this).val()
    var new_action = "/items/" + item_no + "/orderitems"
    $('.new_orderitem').attr('action', new_action)
  })

  $('.quantity').on("input", function(){
    if($(this).val() < 2){
      $('#missingquantity').show()
    }else{
      $('#missingquantity').hide()
    }
  })

  $('.btn-changes').on('click', function(e){
    if($('.quantity').val() < 2){
      e.preventDefault()
      $('#missingquantity').show()
    }
  })

  $('.btn-flavour').on('click', function(e){
    if($('.quantity').val() < 2){
      e.preventDefault()
      $('#missingquantity').show()
    }
    if($('.flavour').val().length == 0){
      e.preventDefault()
      $('#missingflavour').show()
    }
  })
</script>
