<!DOCTYPE html>
<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139694335-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-139694335-1');
  </script>
  <% if content_for? :ask_friends %>
    <%= yield :ask_friends %>
  <% else %>
    <title><%= content_for?(:title) ? content_for(:title) : "Moonlight - En Route Marketplace" %></title>
    <meta name="Description" content="Moonlight is a crowdsourcing marketplace for you to enjoy great deals and savings across borders without travelling. Match with a Shopper to purchase your items from around the world.">
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://intense-meadow-95262.herokuapp.com/faye.js' %>
  <%= javascript_include_tag 'https://js.stripe.com/v3/' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('logoonly.png') %>
  <%= content_for?(:head) ? yield(:head) : '' %>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <ul class="mainnav sticky" id="navtest">
    <% if user_signed_in? %>
      <%= link_to items_path do %>
        <div class="logowrapper">
          <%= image_tag('logoonly.png', size:"40x40", class:"logostyle") %>
          <%= image_tag('logowords.png', size:"90x20", class:"logostyle2") %>
        </div>
      <% end %>
    <% else %>
      <%= link_to "https://moonlight.sg" do %>
        <div class="logowrapper">
          <%= image_tag('logoonly.png', size:"40x40", class:"logostyle") %>
          <%= image_tag('logowords.png', size:"90x20", class:"logostyle2") %>
        </div>
      <% end %>
    <% end %>
    <li class="icon">
      <a class="hamburger" href="javascript:void(0);" onclick="navmenu()">&#9776;</a>
    </li>
    <% if user_signed_in? %>
      <div class="cart relative">
        <%= link_to image_tag("cart.png", size:"45x45"), orders_path %>
        <% if current_user.orderitems.where(order_id: nil).present? %>
          <div class="cart-bubble"><%= current_user.orderitems.where(order_id: nil).count %></div>
        <% end %>
      </div>
    <% end %>
    <div id="zindextest">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to admin_path do %>
            <li class="selector logout_hide">Admin</li>
          <% end %>
        <% end %>
        <button class="selector yourhootes hamburger" data-toggle="collapse" data-target="#marketplace">Marketplace</button>
        <div id="marketplace" class="collapse">
          <%= link_to lessons_path do %>
            <li class="selector settings">See Job Requests</li>
          <% end %>
          <%= link_to create_path do %>
            <li class="selector settings">Post a Job</li>
          <% end %>
          <button class="selector settings_jobs hamburger" data-toggle="collapse" data-target="#yourhootes">My Jobs</button>
          <div id="yourhootes" class="collapse">
            <%= link_to lesson_owner_path do %>
              <li class="selector settings_jobs">As a Customer</li>
            <% end %>
            <%= link_to lesson_solver_path do %>
              <li class="selector settings_jobs">As a Shopper</li>
            <% end %>
          </div>
          <%= link_to fees_path do %>
            <li class="selector settings">Fees</li>
          <% end %>
        </div>
        <button class="selector main_settings hamburger" data-toggle="collapse" data-target="#moonlight">Moonlight Express<div class="new_express_logo">NEW!</div></button>
        <div id="moonlight" class="collapse">
          <%= link_to items_path do %>
            <li class="selector settings">See Express Items</li>
          <% end %>
          <%= link_to orders_path do %>
            <li class="selector settings">My Orders</li>
          <% end %>
        </div>
        <button class="selector main_settings hamburger" data-toggle="collapse" data-target="#settings">My Account</button>
        <div id="settings" class="collapse">
          <%= link_to wallet_path do %>
            <li class="selector settings">Wallet</li>
          <% end %>
          <%= link_to about_yourself_path do %>
            <li class="selector settings">Profile</li>
          <% end %>
          <%= link_to profiles_path(:id=>current_user.id) do %>
            <li class="selector settings">Reviews</li>
          <% end %>
          <%= link_to password_path do %>
            <li class="selector settings">Password</li>
          <% end %>
          <%= link_to close_account_path do %>
            <li class="selector settings">Close Account</li>
          <% end %>
        </div>
        <%= link_to about_us_path do %>
          <li class="selector logout_hide">About Us</li>
        <% end %>
        <%= link_to blog_path do%>
          <li class="selector logout_hide">Blog</li>
        <% end %>
        <%= link_to testimonials_path do %>
          <li class="selector logout_hide">Feedback</li>
        <% end %>
        <%= link_to logout_path, method: :delete do %>
          <li class="selector logout_hide">Logout</li>
        <% end %>
        <%= link_to orders_path do %>
          <li class="selector selector_account relative">
            <%= image_tag("cart.png", size:"45x45", class:"cart_image") %>
            <% if current_user.orderitems.where(order_id: nil).present? %>
              <div class="cart-bubble-nav"><%= current_user.orderitems.where(order_id: nil).count %></div>
            <% end %>
          </li>
        <% end %>
        <li class="selector selector_account myaccount" id="myaccount">My Account</li>
        <div class="accountwrapper">
          <div class="accountheader">
            <%= link_to wallet_path do %>
              Wallet
            <% end %>
            <%= link_to about_yourself_path do %>
              Profile
            <% end %>
            <%= link_to profiles_path(:id=>current_user.id) do %>
              Reviews
            <% end %>
            <%= link_to logout_path, method: :delete do %>
              Logout
            <% end %>
          </div>
        </div>
        <%= link_to testimonials_path do %>
          <li class="selector selector_account">Feedback</li>
        <% end %>
        <%= link_to blog_path do %>
          <li class="selector selector_account">Blog</li>
        <% end %>
        <%= link_to about_us_path do %>
          <li class="selector selector_account">About Us</li>
        <% end %>
        <%= link_to items_path do %>
          <li class="selector selector_account">Moonlight Express<div class="new_express_logo">NEW!</div></li>
        <% end %>
        <li class="selector selector_account marketplace" id="mymarketplace">Marketplace</li>
        <div class="marketplacewrapper">
          <div class="marketplaceheader">
            <%= link_to lessons_path do %>
              See Job Requests
            <% end %>
            <%= link_to create_path do %>
              Post a Job
            <% end %>
            <%= link_to lesson_owner_path do %>
              My Jobs
            <% end %>
            <%= link_to fees_path do %>
              Fees
            <% end %>
          </div>
        </div>
        <% if current_user.admin? %>
          <%= link_to admin_path do %>
            <li class="selector selector_account">Admin</li>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to login_path do %>
          <li class="selector">Log In</li>
        <% end %>
        <%= link_to signup_path do %>
          <li class="selector">Sign Up</li>
        <% end %>
        <%= link_to fees_path do %>
          <li class="selector">Fees</li>
        <% end %>
        <%= link_to blog_path do %>
          <li class="selector">Blog</li>
        <% end %>
        <%= link_to about_us_path do %>
          <li class="selector">About Us</li>
        <% end %>
        <%= link_to lessons_path do %>
          <li class="selector">Marketplace</li>
        <% end %>
        <%= link_to items_path do %>
          <li class="selector">Moonlight Express<div class="new_express_logo">NEW!</div></li>
        <% end %>
      <% end %>
    </div>
  </ul>

  <% flash.each do |key, value| %>
    <% if value.length > 0 %>
      <div class="green_colour_mailing">
        <div class="text-center alert-<%= key %>"><%= value.html_safe %> </div>
      </div>
    <% end %>
  <% end %>

<% if @conversations.present? %>
  <div id="chat">
    <%= render partial: 'layouts/chats', conversations: @conversations %>
  </div>
<% end %>

<div class="page-container">
  <% if user_signed_in? %>
    <% if current_user.orderitems.where(order_id: nil).present? %>
      <% if current_user.orderitems.where(order_id: nil).last.created_at + 8.hours + 15.minutes + 55.seconds > DateTime.current %>
        <div class="swiftwrapper">
          <%= image_tag("swift.png", size:"35x35") %> Be Swift! Get 5% off if you checkout in<br><p id="swifttimer"></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="content-wrap">
    <%= yield %>
  </div>
  <footer class= "text-center hoote_footer">
    <h5 class="copyright">A service brought to you by</h5>
    <h5>Hootenanny</h5>
    <h5>Copyright © <%= Date.today.year %></h5>
    <h5>All rights reserved.</h5>
    <br><%= image_tag('stripe.png', height: "20") %>
    <br>Pay Securely with
    <%= image_tag('paynow.png', height: "30") %>
    <%= image_tag('visa.png', height: "25") %>
    <%= image_tag('master.png', height: "25") %>
  </footer>
</div>

  <script>
    function navmenu() {
      var x = document.getElementById("navtest");
      if (x.className === "mainnav sticky") {
        x.className += " responsive";
      } else {
        x.className = "mainnav sticky";
      }
    }
    $(document).click(function(e) {
      if (!$(e.target).hasClass('hamburger') ) {
          $('.mainnav').removeClass('responsive')
      }
      if (!$(e.target).hasClass('myaccount') ) {
          $('.accountwrapper').hide()
      }
      if (!$(e.target).hasClass('marketplace') ) {
          $('.marketplacewrapper').hide()
      }
    });
    $( window ).resize(function() {
      if ($(window).width() > 767) {
        $('#settings').collapse("hide")
        $('#yourhootes').collapse("hide")
      }
    });

    $('.chat_image').on('click',function(){
      var id = $(this).attr('id')
      var conversation_id = id.substring(11)
      $('#chatdialogwrapper_'+conversation_id).show()
      $(document.body).css('overflow', 'hidden')
      $('html').css('overflow', 'hidden')
      $('.dialog_wrapper').stop().animate({
            scrollTop: 9999999
        }, 10);
      $('.chat_photo').parent().css('padding', '5px')
      if($(this).hasClass('chat_image_unread')){
        $(this).removeClass('chat_image_unread').addClass('chat_image_read')
        $('#bubble_'+conversation_id).removeClass('show_bubble').addClass('hide_bubble')
        $.ajax({
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          url:"/conversations/read_update",
          data: {conversation_id: conversation_id},
          dataType: 'script'
        });
      }
    })

    $(".closedialog").on('click', function(){
      $('.chatdialogwrapper').hide()
      $(document.body).css('overflow', 'visible')
      $('html').css('overflow', 'visible')
    })

    faye = new Faye.Client('https://intense-meadow-95262.herokuapp.com/faye');
    $.each($(".conversation_id"), function(index, value){
      faye.subscribe("/conversations/"+$(this).val(), function(data){
        eval(data)
        if($('.chatdialog_new #message_id').val() == $('#message_user_id').val()){
          $('.sent_at_timezone').addClass('chatdialog_right_sub').removeClass('sent_at_timezone')
          $('.chatdialog_new .chatmessage').addClass("chatdialog_right_cont_first")
          $('.chatdialog_new').addClass("chatdialog_right_cont").removeClass('chatdialog_new')
        }else{
          $('.sent_at_timezone').addClass('chatdialog_left_sub').removeClass('sent_at_timezone')
          $('.chatdialog_new .chatmessage').addClass("chatdialog_left_cont_first")
          $('.chatdialog_new').addClass("chatdialog_left_cont").removeClass('chatdialog_new')
        }
        $('#message_id').remove()
      })
    });

    $('.message_body').on('input', function(){
      if ($(this).val().length > 0){
        $('.send_button').show()
        $('.camerawrapper').hide()
      }else{
        $('.send_button').hide()
        $('.camerawrapper').show()
      }
    })

    $('.send_button').on('click', function(e){
      var form = $(this).parent()
      var id = $(this).attr('id').substring(12)
      var message = $('#message_body_'+id).val()
      if (form.find(':input[type=text], textarea').val().length != 0){
        $('#dialog_'+ id).append($($.parseHTML("<div class='chatdialog_right_cont message_container'><div class='chatdialog_right_cont_first chatmessage'>"+message+"</div></div>")))
        $('#send_button_'+id).hide()
        $('#camerawrapper_'+id).show()
        $('#dialog_'+id).stop().animate({
              scrollTop: 9999999
          }, 1000);
        $('.message_photo').val('')
        form.submit()
        document.getElementById("new_message_"+id).reset()
      }
    })

    $('.message_photo').on('change', function(e){
      var image = $(this)[0].files
      var id = $(this).attr('id').substring(14)
      var id_temp = id + $('.chatimage_fullscreen_wrapper').length
      var number_of_images = $('.uploaded_chat_photo').length + 1
      var show_image = new Promise(
        function(resolve){
          var reader = new FileReader()
          reader.onload = function(e){
            $('#dialog_'+ id +' .chatmessage').last().parent().after($($.parseHTML('<div class="chatdialog_right_cont"><div class="chatmessage chatdialog_right_cont_first"><img class="chat_photo uploaded_chat_photo" id="uploaded_chat_photo_'+ id_temp +'" src="'+ e.target.result +'"width="240" height="240" alt="65"><div class="chatimage_fullscreen_wrapper" id="chatimage_fullscreen_wrapper_temp_'+ id_temp +'"style="display: none;"><img class="chatimage_fullscreen" src="'+ e.target.result +'" alt="13"></div></div></div>')))
            if($('.uploaded_chat_photo').length == number_of_images){
              resolve()
            }
          };
          reader.readAsDataURL(image[0])
        }
      )
      show_image.then(function(){
        $('#dialog_'+id).stop().animate({
              scrollTop: 9999999
          }, 1000);
        $('#new_message_'+id).submit()
        $('.message_photo').val('')
        document.getElementById("new_message_"+id).reset()
      })
    })

    $("#rsvp_bid:input").on("keydown", function(e){
      if (e.keyCode == 13) {
        e.preventDefault();
      }
    })

    $('#myaccount').on('click mouseover', function(){
      $('.accountwrapper').show()
    })

    $('#mymarketplace').on('click mouseover', function(){
      $('.marketplacewrapper').show()
    })

    var countDownDate = new Date('<%= @gswifttimer %>');
    var timenow = new Date().getTime()
    if (countDownDate > timenow) {
      $('.swiftwrapper').show()

      // Update the count down every 1 second
      var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("swifttimer").innerHTML = minutes + " min " + seconds + " sec";

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          $('.swiftwrapper').remove()
          $('.swiftdiscount').remove()
          $('.total_bill').text("<%= @withoutswift %>")
          $.ajax({
            url: '/minimum_checkout'
          });
        }
      }, 1000);
    }

  </script>

</body>
</html>
