<div class="aboutwrapper">
  <div class="col-xs-5 col-sm-4 col-sm-offset-1 col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-2 account_settings_full">
    <h3>Account Settings</h3>
    <%= render 'account_setting_template' %>
  </div>
  <div class="col-sm-7 col-md-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <h3 class="text-center">Your Profile</h3><br>
    <div class="user_profile">
      <div class="row">
        <h4>Profile Picture</h4>
          <%= devise_error_messages! %>
      </div>
      <div class="row">
        <div class="field text-center relative">
          <div class="profile_pic_preview"></div>
          <% if f.object.avatar.present? %>
            <%= cl_image_tag f.object.avatar.image.url, class:"profile_pic", size:"150x150" %>
          <% end %>
          <div class="uploading_image">
            Uploading Image, please hold on!
            <%= image_tag("loader.gif", id:"loader") %>
          </div>
        </div>
        <div class="field text-center relative">
          <span class="btn-photo fileinput-button"><span>Select Photo</span><%= f.file_field :profile_pic, id:"profile_pic_button" %></span>
          <div class="missing_photo text-center">
            Please upload a photo of yourself!
          </div>
        </div>

      </div>
      <div class="row">
        <h4>Contact Info</h4>
      </div>
      <div class="row">
        <div class="field">
          <%= f.label :first_name, 'First Name' %><br>
          <%= f.text_field :first_name, class:"form-control" %><br>
        </div>
      </div>
      <div class="row">
        <div class="field">
          <%= f.label :last_name, 'Last Name' %><br>
          <%= f.text_field :last_name, class:"form-control" %><br>
        </div>
      </div>
      <div class="row">
        <div class="field relative">
          <%= f.label :contact_number, 'Contact Number' %><br>
          <%= f.number_field :contact_number, class:"form-control" %><br>
          <div class="contact_no_error text-center">
            Invalid Contact Number!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="actions">
          <%= f.button "Update", class:"btn btn-account btn-update", id:"update_button", type:"button" %>
        </div>
      </div>
    <% end %>
      <div class="row">
        <% if current_user.endpoint.blank? %>
          <%= label_tag 'Notification' %>
          <div class="inputGroup n_disabled">
            <input id='allow_button' name='checkbox' type='checkbox'/>
            <label for='allow_button'>Disabled</label>
            <div class="notification_form">
              <%= render partial: 'users/registrations/to_enable_notification' %>
            </div>
          </div>
        <% else %>
          <%= label_tag 'Notification' %>
          <div class='inputGroup n_enabled'>
            <input id='allow_button' name='checkbox' type='checkbox'/>
            <label for='allow_button'>Enabled</label>
            <div class="notification_form">
              <%= render partial: 'users/registrations/to_disable_notification' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function(){
  $.each($('.form-control'), function(){
    if($(this).val().length == 0){
      $(this).removeClass("not_empty").addClass("empty")
    }else{
      $(this).removeClass("empty").addClass("not_empty")
    }
  })
  if($('.profile_pic').length == 0){
    $('.btn-photo').addClass('empty')
  }else{
    $('.btn-photo').addClass('not_empty')
  }
  if($('#user_contact_number').length < 7){
    $(this).removeClass("not_empty").addClass("empty")
  }else{
    $(this).removeClass("empty").addClass("not_empty")
  }
})

$('.form-control').on('input', function(){
  if($(this).val().length == 0){
    $(this).removeClass("not_empty").addClass("empty")
    $(this).css('border', '1px solid #DC4C46')
  }else{
    $(this).removeClass("empty").addClass("not_empty")
    $(this).css('border', '1px solid #ccc')
  }
})

$('#profile_pic_button').on('input', function(){
  if($(this).val().length == 0){
    $('.btn-photo').removeClass("not_empty").addClass("empty")
    $('.missing_photo').show()
    $('.btn-photo').css('border', '1px solid #DC4C46')
  }else{
    $('.btn-photo').removeClass("empty").addClass("not_empty")
    $('.missing_photo').hide()
    $('.btn-photo').css('border', '1px solid #23B3B9')
    $('.btn-photo').css('color', '#23B3B9')
  }
})

$('#user_contact_number').on('input', function(){
  if($(this).val().length > 7){
    $(this).removeClass("empty").addClass("not_empty")
    $('.contact_no_error').hide()
    $(this).css('border', '1px solid #23B3B9')
  }else{
    $(this).removeClass("not_empty").addClass("empty")
    $('.contact_no_error').show()
    $(this).css('border', '1px solid #DC4C46')
  }
})

$("#update_button").on('click',function(e){
  if($('.empty').length > 0){
    $('#update_button').after("<span class='profile_incomplete'>Profile is incomplete!</span>")
    $.each($('.empty'), function(){
      $(this).css('border', '1px solid #DC4C46')
      if($(this).hasClass('btn-photo')){
        $(this).css('color', '#DC4C46')
        $('.missing_photo').show()
      }
      if($(this).attr('id') == 'user_contact_number'){
        $('.contact_no_error').show()
      }
    })
    setTimeout(function() {
      $('.profile_incomplete').remove()
    }, 3000);
  }else{
    var formdata = new FormData()
    var other_data = $('#edit_user').serializeArray();
    $.each(other_data,function(key,input){
      formdata.append(input.name,input.value);
    });
    $.ajax({
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: "/users",
      enctype: 'multipart/form-data',
      data: formdata,
      dataType: "script",
      cache: false,
      contentType: false,
      processData: false,
      type: 'PUT'
    });
  }
})

$("#profile_pic_button").on('change',function(e){
  var image_appended = $('.profile_pic').length
  if(image_appended >  0){
    $('.profile_pic').remove()
  }
  var reader = new FileReader()
  reader.onload = function(e){
    $($.parseHTML("<img class='profile_pic'>")).attr('src', e.target.result).width(150).height(150).appendTo($(".profile_pic_preview"));
  };
  reader.readAsDataURL($(this)[0].files[0])
  var formdata = new FormData()
  formdata.append('user[profile_pic]', $(this)[0].files[0])
  $.ajax({
    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
    url: "/users",
    enctype: 'multipart/form-data',
    data: formdata,
    dataType: "script",
    cache: false,
    contentType: false,
    processData: false,
    type: 'PUT'
  });
  $('.uploading_image').show()
})

$('.user_profile').on('click', '#allow_button', function(e){
  $('#allow_button').prop('checked', false)
  if($(this).parent().hasClass('n_disabled')){
    var proceed_to_submit = new Promise(function(resolve){
      register(resolve)
    }).then(function(){
      $('#notification_form').submit()
      if($('#user_endpoint').val().length > 0){
        $("label[for='allow_button']").text("Enabled")
        $(this).parent().removeClass('n_disabled').addClass('n_enabled')
        $('#allow_button').prop('checked', true)
      }
    })
  }else{
    $("label[for='allow_button']").text("Disabled")
    $(this).parent().removeClass('n_enabled').addClass('n_disabled')
    $('#user_endpoint').val("")
    $('#user_p256dh').val("")
    $('#user_auth').val("")
    $('#notification_form').submit()
  }
})
</script>
