<div class="mainadmin">
  <div class="subadmin text-center">
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      <button type="button" class="google-button">
        <span class="google-button__icon">
          <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg"><path d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z" id="Shape" fill="#EA4335"/><path d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z" id="Shape" fill="#FBBC05"/><path d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z" id="Shape" fill="#4285F4"/><path d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z" fill="#34A853"/></svg>
        </span>
        <span class="google-button__text">Sign in with Google</span>
      </button>
    <% end %>
    <br><br>
    <h2>Sign Up</h2>
    <div class="sessionadmin">
      <h5>Hello, Old friend?</h5>
      <h6><%= link_to "Log in here!", login_path %></h6>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: "off" }) do |f| %>
      <div class="field">
        <br><%= f.email_field :email, autofocus: true, placeholder:"Email", class:"form-control form_change", autocomplete: 'on' %>
        <span class="missinginfo" id="missinginfo_mail">Your email is invalid!</span>
      </div>

      <div class="field">
        <br><%= f.password_field :password, autocomplete: "off", placeholder:"Password", class:"form-control form_change" %>
        <span class="missinginfo" id="missinginfo_word">Your password has less than 6 characters!</span>
      </div>

      <div class="field">
        <br><%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Re-enter Password", class:"form-control form_change" %>
      </div>
      <span class="missinginfo" id="missinginfo_tion">This does not match with the password above!</span>
      <%= devise_error_messages! %>
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-success btn-block", id:"submit_button" %>
      </div>
    <% end %>
    <br>
  </div>
</div>

<div class="loading_wrapper">
  <div class="loading">
    Registering account, please hold on!
    <%= image_tag("loader.gif", id:"loader3") %>
  </div>
</div>

<script>

$('#submit_button').on('click',function(e){
  $('.form_change').each(function(){
    var missingkey = $(this).attr('id').slice(-4)
    if ($(this).hasClass("not_empty")){
      $('#missinginfo_'+missingkey).css('display', 'none')
      $(this).css('border', '1px solid #23B3B9')
    }
    else{
      $('#missinginfo_'+missingkey).css('display', 'block')
      $(this).css('border', '1px solid #DC4C46')
    }
    if ($(".form_change").filter(".not_empty").length == $(".form_change").length){
      $('#submit_button').prop('disabled', false);
      $('.loading_wrapper').show()
    }
    else{
      $('#submit_button').prop('disabled', true);
    }
  })
})

$(document).ready(function(){
  $('.page-container').css('padding-bottom', '400px')
  if($('#user_email').val().length > 0){
    var input_email = $('#user_email')
    var re = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    var form_data_email =re.test(input_email.val());
    if (form_data_email) {
      $('#user_email').removeClass("empty").addClass("not_empty");
    }
    else {
      $('#user_email').removeClass("not_empty").addClass("empty");
    }
    check_control_form($('#user_email'))
  }
})

function check_control_form(obj) {
  var get_id = obj.attr("id")
  var missingkey = get_id.slice(-4)
  if (obj.hasClass("not_empty")){
    $('#missinginfo_'+missingkey).css('display', 'none')
    obj.css('border', '1px solid #23B3B9')
  }
  else{
    $('#missinginfo_'+missingkey).css('display', 'block')
    obj.css('border', '1px solid #DC4C46')
  }
  if ($(".form_change").filter(".not_empty").length == $(".form_change").length){
    $('#submit_button').prop('disabled', false);
  }
  else{
    $('#submit_button').prop('disabled', true);
  }
}

$("#user_email").on("input",function(){
  var input_email = $(this)
  var re = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
  var form_data_email =re.test(input_email.val());
  if (form_data_email) {
    $(this).removeClass("empty").addClass("not_empty");
  }
  else {
    $(this).removeClass("not_empty").addClass("empty");
  }
  check_control_form($(this))
});

$("#user_password").on("input",function(){
  if ($(this).val().length > 5) {
    $(this).removeClass("empty").addClass("not_empty");
    if ($(this).val() == $('#user_password_confirmation').val()){
      $("#user_password_confirmation").removeClass("empty").addClass("not_empty");
    }
    else {
      $("#user_password_confirmation").removeClass("not_empty").addClass("empty");
    }
    check_control_form($("#user_password_confirmation"))
  }
  else {
    $(this).removeClass("not_empty").addClass("empty");
  }
  check_control_form($(this))
});

$("#user_password_confirmation").on("input",function(){
  if ($(this).val() == $('#user_password').val()){
    $(this).removeClass("empty").addClass("not_empty");
  }
  else {
    $(this).removeClass("not_empty").addClass("empty");
  }
  check_control_form($(this))
});


</script>
